<div #childContent>
  <nz-card nzTitle="Member" [nzBordered]="true" class="main-card">
    <div class="section">
      <nz-divider nzText="Routine"></nz-divider>
      <p>
        <b 
          class="text-danger">
          Member IS NOT ELIGIBLE
        </b> 
        for Routine Vision exam ON
      </p>

      <p>Last Claim was on</p>

      <p>Member will be eligible on/after</p>
    </div>

    <div class="section">
      <nz-divider nzText="Hardware"></nz-divider>
      <p>
        <b 
          class="text-success">
          Member IS ELIGIBLE
        </b> 
        for Routine Hardware ON
      </p>

      <p>Member has used.</p>
    </div>

    <div class="section">
      <nz-divider nzText="Benefit"></nz-divider>
      <nz-row>
        <nz-col [nzSpan]="12">
          <h3>Beneficios en español:</h3>
          <ul>
            <li>Examen ocular de rutina: Co-Pago: $0</li>
            <li>Materiales de rutina: Subsidio de $1100 por año. Co-pago: $0</li>
            <li>Exámenes médicos/cirugías: No cubiertos.</li>
          </ul>
        </nz-col>
        <nz-col [nzSpan]="12">
          <h3>Benefits in English:</h3>
          <ul>
            <li>Routine Vision Exam: Co-pay: $0</li>
            <li>Routine Materials: $1100 retail allowance annually. Co-pay: $0</li>
            <li>Medical/Surgical: Not covered.</li>
          </ul>
        </nz-col>
      </nz-row>
    </div>

    <div class="disclaimer">
      <nz-divider></nz-divider>
      <p>
        <b>
          Disclaimer:
        </b> 
        Eligibility is based on current information in our system and does not guarantee
        claims payment. If you have any questions or concerns regarding the information
        above, please contact Envolve Vision /AECC Total Vision Healt of Textas, 
        Inc/Envolve Vision Plan's customer service department.
      </p>
    </div>
  </nz-card>
</div>
