<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Patients</nz-breadcrumb-item>
      <nz-breadcrumb-item>Patient Management</nz-breadcrumb-item>
      <nz-breadcrumb-item>Plan Details</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</div>

<div #childContent>
  <nz-card [nzBordered]="true" class="main-card">
    <b> Member(s): {{ claimData.patientName | uppercase }} {{ currentTime }}</b>

    <div class="section">
      <nz-divider nzText="Routine"></nz-divider>

      <!-- <p>
        <b 
          class="text-danger">
          Member IS NOT ELIGIBLE
        </b> 
        for Routine Vision exam ON
      </p>

      <p>Last Claim was on</p>

      <p>Member will be eligible on/after</p> -->
    </div>

    <div class="section">
      <nz-divider nzText="Hardware"></nz-divider>
      <!-- <p>
        <b 
          class="text-success">
          Member IS ELIGIBLE
        </b> 
        for Routine Hardware ON
      </p>

      <p>Member has used.</p> -->
    </div>

    <div class="section">
      <nz-divider nzText="Benefit"></nz-divider>

      <b>{{claimData.primaryPlanName | uppercase}}</b> <br> <br>

      <nz-row>
        <nz-col [nzSpan]="12">
          Beneficios de examen ocular de rutina dentro de la red:
          Miembros son elegibles para un examen ocular de rutina cada año calendario. <br>
          <strong>Co-Pago: ${{ claimData.visualTestMedicare }}</strong>
        </nz-col>

        <nz-col [nzSpan]="12">
          In-Network Routine Vision Exam Benefit:
          Members are eligible for one routine vision exam per calendary year.<br>
          <strong>Co-Pay: ${{claimData.visualTestMedicare}}</strong>
        </nz-col>
      </nz-row>

      <nz-divider></nz-divider>

      <nz-row>
        <nz-col [nzSpan]="12">
          Beneficios de materiales de rutina dentro de la red:
          Los miembros son elegibles para recibir un subsidio
          de <strong> ${{claimData.visionElements}} </strong> 
          por cada año natural hacia la compra de espejuelos con 
          receta (incluyendo accesorios y reparaciones) y/o lentes 
          de contacto (incluyendo el cargo por ajuste).<br>
          <strong>Co-Pago:</strong>
        </nz-col>

        <nz-col [nzSpan]="12">
          In-Network Routine Supplies Benefits: Members are eligible to receive
          a <strong> ${{ claimData.visionElements }} </strong>  
          allowance each calendar year toward the purchase of prescription
          eyewear (including fittings and repairs)
          and/or contact lenses (including the fitting fee).<br>
          <strong>Co-Pay:</strong>
        </nz-col>

        <nz-divider></nz-divider>

        <nz-col [nzSpan]="12">
          Examenes medicos/cirugias dentro de la red:<br>
          No son cubiertos por Envolve Vision.
        </nz-col>

        <nz-col [nzSpan]="12">
          In-Network Medical/Surgical Benefit:<br>
          Not covered through Envolve Vision.
        </nz-col>

        <nz-divider></nz-divider>

        <nz-col [nzSpan]="12">
          Materiales medicamente necesarios despues de cataratas:<br>
          Son cubiertos.
        </nz-col>

        <nz-col [nzSpan]="12">
          In-Network Post Cataract and Medically Necesary Hardware Benefit:<br>
          Covered.
        </nz-col>

        <nz-divider></nz-divider>

        <nz-col [nzSpan]="12">
          Servicios fuera de la red son cubiertos. POS los miembros
          pagan el 35% de coaseguro para tener acceso a proveedores fuera de la red.
        </nz-col>

        <nz-col [nzSpan]="12">
          Out-of-Network services are covered. POS members 
          pay 35% coinsurance to access out of network providers.
        </nz-col>

        <nz-divider></nz-divider>

        <nz-col [nzSpan]="12">
          Los beneficios son citados solo de cortesia. 
          Esto no constituya una garantia de pago.
        </nz-col>

        <nz-col [nzSpan]="12">
          Benefits are quoted as a courtesy only. 
          This does not constitute a guarantee of payment.
        </nz-col>
      </nz-row>
    </div>

    <div class="disclaimer">
      <nz-divider></nz-divider>
        <b>Disclaimer:</b>
        Eligibility is based on current information in our system and does not guarantee
        claims payment. If you have any questions or concerns regarding the information
        above, please contact Envolve Vision /AECC Total Vision Healt of Textas,
        Inc/Envolve Vision Plan's customer service department.
    </div>
  </nz-card>
</div>