<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Resource Management</nz-breadcrumb-item>
      <nz-breadcrumb-item>Diagnosis</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawer()">
      <i 
        nz-icon 
        nzType="file-text" 
        nzTheme="outline"> 
      </i>
      New Diagnosis
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportDiagnosis()">
      <i 
        nz-icon 
        nzType="download" 
        nzTheme="outline"> 
      </i>
      Export Diagnosis
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group
      *ngFor="let field of searchFields"
      [nzSuffix]="suffixIconSearch">

      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search"> 
        </span>
      </ng-template>
    </nz-input-group>
  </div>

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.code }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.created | date }}</td>
        <td>
          <a>
            <nz-switch
              title="Status"
              [(ngModel)]="data.active"
              nzSize="small"
              (ngModelChange)="changeStatus(data.id, data)">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Edit"
              nzType="edit"
              nzTheme="outline"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Delete"
              nzType="delete"
              nzTheme="outline"
              (click)="delete(data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span> No records found </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowSizeChanger]="true"
    nzShowQuickJumper>
  </nz-pagination>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="720"
  [nzFooter]="footer">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="drawerLoader">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="code"
            style="text-align: center">
            Code
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="codeError">
            <input 
              nz-input 
              formControlName="code" 
              id="code" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #codeError>
          <span *ngIf="form.get('code')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('code')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="description"
            style="text-align: center">
            Description
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="descriptionError">
            <input 
              nz-input 
              formControlName="description" 
              id="description" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #descriptionError>
          <span *ngIf="form.get('description')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('description')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footer>
    <div style="display: flex; float: right">
      <button 
        nz-button 
        style="margin-right: 8px" 
        (click)="closeDrawer()">
        Close
      </button>

      <button 
        nz-button 
        nzType="primary" 
        (click)="submit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>
