<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Patients</nz-breadcrumb-item>
      <nz-breadcrumb-item>Patient Management</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button
      nz-button
      nzType="primary" 
      (click)="openModalUpload()">
      <i 
        nz-icon 
        nzType="upload" 
        nzTheme="outline">
      </i>
      Upload Eligibility
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportBenefits()">
      <i 
        nz-icon 
        nzType="download" 
        nzTheme="outline">
      </i>
      Export Benefits
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group 
      *ngFor="let field of searchFields" 
      [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </nz-input-group>
  </div>  

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Insurer</th>
        <th>Name - ID</th>
        <th>DOB</th>
        <th>Effective</th>
        <th>Terminates</th>
        <!-- <th>Benefit</th> -->
        <th>Active</th>
        <!-- <th>Service availability</th>
        <th>Primary insurance via other</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.insurer_data?.name}}</td>
        <td>{{data.first_name + ' ' + data.last_name + ' - ' + data.primary_subscriber_id}}</td>
        <td>{{data.birth_date}}</td>
        <td>{{data.effective}}</td>
        <td>{{data.terminates}}</td>
        <td>
          <button
            nz-button
            nzShape="round"
            nzSize="small"
            [ngStyle]="{
              'background-color': isWithinRange(data.effective, data.terminates) ? '#52c41a' : '#f5222d',
              'color': 'white'
            }">
            <span>{{ isWithinRange(data.effective, data.terminates) ? 'Yes' : 'No' }}</span>
          </button>
        </td>
        <td>
          <a>
            <span
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
              (click)="openModalDetails()"
              title="Show Plan Details">
          </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              nzType="folder-open"
              nzTheme="outline"
              (click)="openModalMember()"
              title="Show Member">
          </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <button 
            nz-button nzType="primary" 
            nzShape="round" 
            nzSize="small"
            (click)="openModalClaim(data)"
            title="Claim entry">
            Claim entry
          </button>
        </td>        
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          No patients found
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    [nzShowSizeChanger]="true"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowQuickJumper]="true">
  </nz-pagination>
</div>

<nz-modal
  [(nzVisible)]="isVisibleModalMember"
  nzTitle="Electronic Health Record for Member"
  nzWidth="1100px"
  [nzClosable]="false"
  nzMaskClosable="false">

  <ng-container *nzModalContent>
    <app-member>
    </app-member>
  </ng-container>

  <ng-container *nzModalFooter>
    <button 
      nz-button 
      (click)="CancelModalMember()">
      Cancel
    </button>

    <button 
      nz-button nzType="primary" 
      (click)="OkModalMember()">
      OK
    </button>

    <button 
      nz-button 
      nzType="primary" 
      [ngStyle]="{'background-color': '#FF5733', 'border-color': '#FF5733'}" 
      (click)="printContentMember()">
      Print Page
    </button>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalDetails"
  nzWidth="1000px"
  [nzClosable]="false"
  nzMaskClosable="false">

  <ng-container *nzModalContent>
    <app-plan-details>
    </app-plan-details>
  </ng-container>

  <ng-container *nzModalFooter>
    <button 
      nz-button 
      (click)="cancelModalDetails()">
      Cancel
    </button>

    <button 
      nz-button nzType="primary" 
      (click)="okModalDetails()">
      OK
    </button>

    <button 
      nz-button 
      nzType="primary" 
      [ngStyle]="{'background-color': '#FF5733', 'border-color': '#FF5733'}" 
      (click)="printContentDetails()">
      Print Page
    </button>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalClaim"
  nzWidth="75%"
  [nzClosable]="false"
  nzMaskClosable="false">

  <ng-container *nzModalContent>
    <app-claim-entry
      [patientName]="selectedPatientName"
      [serviceValidFrom]="selectedValidFrom"
      [birthDate]="selectedBirthDate"
      [addressPatient]="selectedAddressPatient"
      [serviceValidThru]="selectedValidThru">
    </app-claim-entry>
  </ng-container>

  <ng-container *nzModalFooter>
    <button 
      nz-button 
      (click)="cancelModalClaim()">
      Cancel
    </button>

    <button 
      nz-button nzType="primary" 
      (click)="okModalClaim()">
      Ok
    </button>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalUpload"
  nzWidth="30%"
  [nzClosable]="false"
  nzMaskClosable="false">

  <ng-container *nzModalContent>

  </ng-container>

  <ng-container *nzModalFooter>
    <button 
      nz-button 
      (click)="cancelModalUpload()">
      Cancel
    </button>

    <button 
      nz-button nzType="primary" 
      (click)="okUploadFile()">
      Upload
    </button>
  </ng-container>
</nz-modal>