<div class="title-page layout-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
    <nz-breadcrumb-item>Patients</nz-breadcrumb-item>
    <nz-breadcrumb-item>Patient Management</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="btn-container">
    <button
      nz-button
      nzType="primary" 
      (click)="openModalUpload()">
      <i 
        nz-icon 
        nzType="upload" 
        nzTheme="outline">
      </i>
      Upload Eligibility
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportBenefits()">
      <i 
        nz-icon 
        [nzType]="exportLoader ? 'loading' : 'download'" 
        nzTheme="outline">
      </i>
      {{ exportLoader ? 'Exporting...' : 'Export Benefits' }}
    </button>
  </div>
</div>

<div class="layout-container">
  <div class="table-filters">
    <nz-input-group 
      *ngFor="let field of searchFields" 
      [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search">
        </span>
      </ng-template>
    </nz-input-group>
  </div>  

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Insurer</th>
        <th>Name - ID</th>
        <th>DOB</th>
        <th>Effective</th>
        <th>Terminates</th>
        <th>Active Member</th>
        <th>Other Insurance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.insurer_data?.name }}</td>
        <td>{{ data.first_name + ' ' + data.last_name + ' - ' + data.primary_subscriber_id }}</td>
        <td>{{ data.birth_date }}</td>
        <td>{{ data.effective }}</td>
        <td>{{ data.terminates }}</td>
        <td [ngClass]="isWithinRange(data.effective, data.terminates) ? 'text-green' : 'text-red'">
          {{isWithinRange(data.effective, data.terminates) ? 'Yes' : 'No'}}
        </td>
        <td [ngClass]="!data.secondary_insure_plan_name ? 'text-red' : 'text-green'">
          {{ !data.secondary_insure_plan_name ? 'No' : data.secondary_insure_plan_name }}
        </td>                          
        <td>
          <a>
            <span
              nz-icon
              nz-popover
              nzPopoverContent="Show Plan Details"
              nzType="plus-circle"
              nzTheme="outline"
              (click)="openPlanDetails(data)">
          </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              nz-popover
              nzPopoverContent="Show Member"
              nzType="unordered-list"
              nzTheme="outline"
              (click)="openModalMember(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              nz-popover
              nzPopoverContent="Claim entry"
              nzType="form"
              nzTheme="outline"
              (click)="openModalClaimEntry(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              nz-popover
              nzPopoverContent="View Claims"
              nzType="read"
              nzTheme="outline"
              (click)="openModalViewClaims(data)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          No records found
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    [nzShowSizeChanger]="true"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowQuickJumper]="true">
  </nz-pagination>
</div>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalDetails"
  nzWidth="1000px"
  [nzClosable]="false"
  nzMaskClosable="false">
  <ng-container *nzModalContent>
    <app-plan-details
      [claimData]="selectedClaim">
    </app-plan-details>
  </ng-container>

  <ng-container *nzModalFooter>
    <button 
      nz-button 
      (click)="cancelOkModalDetails()">
      Cancel
    </button>

    <button 
      nz-button 
      nzType="primary" 
      (click)="cancelOkModalDetails()">
      OK
    </button>

    <button 
      nz-button 
      nzType="primary" 
      [disabled]="isPrinting" 
      [ngStyle]="{'background-color': '#FF5733', 'border-color': '#FF5733'}" 
      (click)="printContentDetails()">
      Print Page
    </button>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalMember"
  nzWidth="1100px"
  (nzOnCancel)="cancelOkModalMember()"
  (nzOnOk)="cancelOkModalMember()"
  [nzClosable]="false"
  nzMaskClosable="false"
  [nzBodyStyle]="{'max-height': '80vh', 'overflow': 'auto'}">
  <ng-container *nzModalContent>
    <app-member
    [claimData]="selectedClaim">
    </app-member>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalClaim"
  nzWidth="98%"
  (nzOnCancel)="cancelOkModalClaim()"
  (nzOnOk)="submit()"
  [nzClosable]="false"
  nzMaskClosable="false"
  [nzOkText]="'Save Claim'">
  <ng-container *nzModalContent>
    <app-claim-entry 
      [claimData]="selectedClaim"
      #claimEntry>
    </app-claim-entry>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalListClaims"
  nzWidth="1000px"
  (nzOnCancel)="cancelOkModalListClaims()"
  (nzOnOk)="cancelOkModalListClaims()"
  [nzClosable]="false"
  nzMaskClosable="false"
  [nzBodyStyle]="{'max-height': '80vh', 'overflow': 'auto'}">
  <ng-container *nzModalContent>
    <app-view-claims [claimData]="selectedClaim"></app-view-claims>
  </ng-container>
</nz-modal>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleModalUpload"
  nzWidth="400px"
  [nzClosable]="false"
  nzMaskClosable="false"
  nzCentered="true">
  <ng-container *nzModalContent>
    <div class="modal-content-wrapper">
      <h3 class="modal-title">Start Eligibility Process</h3>
      <div class="modal-body">
        <a href="assets/example.csv">Download Example of Eligibility to Upload</a>
        <input 
          type="file" 
          class="file-input"
          (change)="onFileChange($event)" 
        />
        <br />
        <button
          nz-button
          nzType="primary"
          [nzLoading]="uploading"
          class="upload-button"
          (click)="eligibilityUpload()"
          [disabled]="!selectedFile">
          {{ uploading ? 'Uploading' : 'Start Upload' }}
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *nzModalFooter>
    <div class="modal-footer">
      <button 
        nz-button 
        class="cancel-button"
        (click)="cancelOkModalUpload()">
        Cancel
      </button>

      <button 
        nz-button 
        nzType="primary" 
        class="ok-button"
        (click)="cancelOkModalUpload()">
        Ok
      </button>
    </div>
  </ng-container>
</nz-modal>