@keyframes fadeInBackground {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.layout-container {
    animation: fadeInBackground 1.2s ease-in-out;
    min-width: 900px;
}

.title-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.table-filters {
    display: flex;
    flex: 1 1 auto;
}

nz-input-group {
    margin: 20px;
}

.btn-container button {
    margin-right: 5px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.modal-content-wrapper {
    text-align: center;
    padding: 16px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.file-input {
    width: 100%;
    max-width: 300px;
}

.upload-button {
    width: 100%;
    max-width: 300px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.cancel-button,
.ok-button {
    width: 120px;
}