<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Configuration of Insurance Companies</nz-breadcrumb-item>
      <nz-breadcrumb-item>Insurers</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawer()">
      <i 
        nz-icon 
        nzType="insurance" 
        nzTheme="outline">
      </i>
      New Insurer
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exporInsurers()">
      <i 
        nz-icon 
        [nzType]="exportLoader ? 'loading' : 'download'" 
        nzTheme="outline">
      </i>
      {{ exportLoader ? 'Exporting...' : 'Export Insurers' }}
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group
      *ngFor="let field of searchFields"
      [nzSuffix]="suffixIconSearch">

      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search"> 
        </span>
      </ng-template>
    </nz-input-group>
  </div>

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Payer ID</th>
        <th>Modifiers</th>
        <th>Orderring NPI</th>
        <th>Refering NPI</th>
        <th>Auth</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.payer_id }}</td>
        <td>{{ data.modifiers == 1 ? "Yes" : "No" }}</td>
        <td>{{ data.orderring_npi == 1 ? "Yes" : "No" }}</td>
        <td>{{ data.refering_npi == 1 ? "Yes" : "No" }}</td>
        <td>{{ data.auth == 1 ? "Yes" : "No" }}</td>
        <td>{{ data.created | date }}</td>
        <td>
          <a>
            <span
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
              (click)="openCatalog(data)"
              title="Show Catalog">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <nz-switch
              title="Status"
              [(ngModel)]="data.active"
              nzSize="small"
              (ngModelChange)="changeStatus(data.id, data)">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Edit"
              nzType="edit"
              nzTheme="outline"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Delete"
              nzType="delete"
              nzTheme="outline"
              (click)="delete(data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          No records found
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    [nzShowSizeChanger]="true"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowQuickJumper]="true">
  </nz-pagination>
</div>

<nz-drawer
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="720"
  [nzFooter]="footerTpl">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="drawerLoader">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label 
            [nzSm]="8" 
            [nzXs]="24" 
            style="text-align: center"
            nzFor="name">
            Name
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input
              nz-input
              formControlName="name"
              id="name"
              [readonly]="isUpdating"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label 
            [nzSm]="8" 
            [nzXs]="24" 
            style="text-align: center" 
            nzFor="services">
            Services
          </nz-form-label>
        
          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <nz-select
              formControlName="services"
              name="services"
              nzPlaceHolder="Select Services"
              nzMode="multiple"
              (ngModelChange)="selectChange('services', $event)">
              <nz-option 
                nzLabel="Select All / None" 
                [nzValue]="'ALL'">
              </nz-option>
              
              <nz-option 
                *ngFor="let o of services" 
                [nzLabel]="o.code + ' - ' + o.description" [nzValue]="o.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label 
            [nzSm]="8" 
            [nzXs]="24" 
            style="text-align: center"
            nzFor="products">
            Products
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24"
            [nzErrorTip]="errorTemplate">
            <nz-select
              formControlName="products"
              name="products"
              nzPlaceHolder="Select Products"
              nzMode="multiple"
              (ngModelChange)="selectChange('products', $event)">
              <nz-option 
                nzLabel="Select All / None" 
                [nzValue]="'ALL'">
              </nz-option>

              <nz-option
                *ngFor="let o of products"
                [nzLabel]="o.code + ' - ' + o.description"
                [nzValue]="o.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label 
            [nzSm]="8" 
            [nzXs]="24" 
            style="text-align: center"
            nzFor="address">
            Address
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="address" 
              id="address" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label 
            [nzSm]="8" 
            [nzXs]="24" 
            style="text-align: center"
            nzFor="phone">
            Phone
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="phone" 
              id="phone" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label 
            [nzSm]="8" 
            [nzXs]="24" 
            style="text-align: center"
            nzFor="payer_id">
            Payer ID
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="payer_id" 
              id="payer_id" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="modifiers"
            style="text-align: center">
            Modifiers
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="modifiers"
              nzPlaceHolder="Select an Modifiers"
              formControlName="modifiers">
              <nz-option 
                nzLabel="Yes" 
                [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="No" 
                [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="orderring_npi"
            style="text-align: center">
            Orderring NPI
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="orderring_npi"
              nzPlaceHolder="Select an Orderring NPI"
              formControlName="orderring_npi">
              <nz-option 
                nzLabel="Yes" 
                [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="No" 
                [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="refering_npi"
            style="text-align: center">
            Refering NPI
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="refering_npi"
              nzPlaceHolder="Select an Refering NPI"
              formControlName="refering_npi">
              <nz-option 
                nzLabel="Yes" 
                [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="No" 
                [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="auth"
            style="text-align: center">
            Auth
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate">
            <nz-select
              nzShowSearch
              nzAllowClear
              id="auth"
              nzPlaceHolder="Select auth"
              formControlName="auth">
              <nz-option 
                nzLabel="Yes" 
                [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="No" 
                [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <ng-template #errorTemplate let-control>
          <span *ngIf="control && getErrorMessage(control)">
            {{ getErrorMessage(control) }}
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; float: right">
      <button 
        nz-button 
        style="margin-right: 8px" 
        (click)="closeDrawer()">
        Close
      </button>

      <button 
        nz-button 
        nzType="primary" 
        (click)="submit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisibleCatalog"
  nzTitle="Products and Services"
  (nzOnCancel)="handleCancelCatalog()"
  (nzOnOk)="handleOkCatalog()"
  [nzWidth]="720"
  [nzMaskClosable]="false">
  <ng-container *nzModalContent>
    <h3>Services</h3>
    <nz-table 
      #basicTableServices
      [nzData]="dataCatalog.services" 
      class="custom-pagination"
      [nzBordered]="false"
      [nzSize]="'default'"
      [nzPageSize]="10"
      [nzShowSizeChanger]="true"
      [nzShowQuickJumper]="true"
      *ngIf="dataCatalog">
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTableServices.data">
          <td>{{ data.code }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.value }}</td>
        </tr>
      </tbody>
    </nz-table>

    <br />
    <br />

    <h3>Products</h3>
    <nz-table 
      #basicTableProducts
      [nzData]="dataCatalog.products" 
      [nzBordered]="false"
      [nzSize]="'middle'"
      [nzPageSize]="10"
      [nzShowSizeChanger]="true"
      [nzShowQuickJumper]="true"
      class="custom-pagination"
      [nzSize]="'default'"
      *ngIf="dataCatalog">
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTableProducts.data">
          <td>{{ data.code }}</td>
          <td>{{ data.description }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>