.title-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.table-filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

nz-input-group {
    flex: 1;
    margin: 0;
}

nz-select {
    width: 50%;
    margin: 20px;
}