<div class="title-page layout-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Patients</nz-breadcrumb-item>
      <nz-breadcrumb-item>Patient Management</nz-breadcrumb-item>
      <nz-breadcrumb-item>Views Claims</nz-breadcrumb-item>
    </nz-breadcrumb>
</div>
  
<div class="layout-container">
  <div class="table-filters">
    <nz-input-group
      *ngFor="let field of searchFields"
      [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />
      
      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search">
        </span>
      </ng-template>
    </nz-input-group>
  
    <nz-select
      [(ngModel)]="originSearch"
      (ngModelChange)="search($event, 'origin')"
      nzAllowClear
      style="width: 100%; gap: 20px;"
      nzPlaceHolder="Select Source">
      <nz-option
        nzValue="1" 
        nzLabel="VISTALINKVX">
      </nz-option>
      <nz-option 
        nzValue="2" 
        nzLabel="VISTANET">
      </nz-option>
    </nz-select>

    <nz-select
      [(ngModel)]="statusSearch"
      (ngModelChange)="search($event, 'status')"
      nzAllowClear
      style="width: 100%; gap: 20px;"
      nzPlaceHolder="Select Status">
      <nz-option
        nzValue="1" 
        nzLabel="PENDING">
      </nz-option>
      <nz-option 
        nzValue="2" 
        nzLabel="IN_PROCCESS">
      </nz-option>
      <nz-option 
        nzValue="3" 
        nzLabel="FINISHED">
      </nz-option>
    </nz-select>
  </div>  

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Date service</th>
        <th>Id claim</th>
        <th>Suscriber ID</th>
        <th>Suscriber Name</th>
        <th>Source</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.date_service | date: 'dd-MM-yyyy' }}</td>
        <td>{{ data.id_claim }}</td>
        <td>{{ data.patient_data.primary_subscriber_id }}</td>
        <td>{{ `${data.patient_data.first_name} ${data.patient_data.last_name}`.trim() }}</td>
        <td>{{ ['VISTALINKVX', 'VISTANET'][data.origin - 1] || data.origin }}</td>
        <td>{{ ['PENDING', 'IN_PROCESS'][data.status - 1] || data.status }}</td>
        <td>
          <a>
            <span
              nz-icon
              title="View-PDF"
              nzType="eye"
              nzTheme="outline"
              (click)="openPdf(data)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          No records found
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowSizeChanger]="true"
    nzShowQuickJumper>
  </nz-pagination>
</div>

<app-claim-form-pdf 
  *ngIf="showPdf"
  [showPdf]="showPdf"
  [claimDataView]="selectedClaim"
  (closePdf)="closePdf()">
</app-claim-form-pdf>