<div class="title-page">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Control Access</nz-breadcrumb-item>
      <nz-breadcrumb-item>Profiles</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="btn-container">
    <button nz-button nzType="primary" (click)="openProfileModal()">
      New profile
    </button>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisibleModalProfile"
  nzTitle="New profile"
  (nzOnCancel)="handleCancelProfileModal()"
  (nzOnOk)="handleSaveProfileModal()"
>
  <ng-container *nzModalContent>
    <nz-spin [nzSpinning]="spinningNuevoPerfil">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="new_group" nzRequired
          >Profile</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="This field is required."
        >
          <input nz-input id="new_group" [(ngModel)]="new_group_name" />
        </nz-form-control>
      </nz-form-item>
    </nz-spin>
  </ng-container>
</nz-modal>

<nz-spin nzTip="Loading info..." [nzSpinning]="spinning">
  <nz-table
    #nzTable
    nzSize="small"
    [nzBordered]="true"
    [nzData]="listOfDisplayData"
    [nzScroll]="{ x: '200px', y: '1000px' }"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th>Group</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
          <td>{{ data.name }}</td>
          <td>
            <a
              (click)="verPermisos(data.id)"
              nz-tooltip
              nzTooltipTitle="Permisos"
            >
            <i nz-icon nzType="setting" nzTheme="outline"></i>
          </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="startEdit(data.id)" nz-tooltip nzTooltipTitle="Editar">
              <i nz-icon nzType="edit" nzTheme="twotone"></i>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-tooltip nzTooltipTitle="Activar / Desactivar">
              <nz-switch
                nzSize="small"
                [(ngModel)]="data.active"
                [nzControl]="true"
                (click)="saveEdit(data.id, 'active')"
                [nzLoading]="loadingSwAdmin"
              ></nz-switch>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              (click)="deleteGroup(data.id)"
              nz-tooltip
              nzTooltipTitle="Eliminar"
            >
            <i nz-icon nzType="delete"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td>
            <input
              username_validator
              (keyup.enter)="saveEdit(data.id)"
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.name"
            />
          </td>
          <td>
            <button
              nz-button
              nzType="primary"
              nzSize="small"
              (click)="saveEdit(data.id)"
            >
              Save
            </button>
            <button
              nz-button
              nzType="default"
              nzSize="small"
              (click)="cancelEdit(data.id)"
            >
              Cancel
            </button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>

<nz-spin nzTip="Loading info..." [nzSpinning]="spinning">
  <nz-table
    #permisosTable
    [nzData]="listOfDisplayPermisos"
    *ngIf="showPermisos"
  >
    <thead>
      <tr>
        <th nzCustomFilter>
          Module
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Read</th>
        <th>Write</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of permisosTable.data">
        <td>{{ data.modulo_data.modulo }}</td>
        <td>
          <a nz-tooltip nzTooltipTitle="Activar / Desactivar">
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.read"
              [nzControl]="true"
              [nzLoading]="loadingSwAdmin"
              (click)="editPermisos(data, 'read')"
            ></nz-switch>
          </a>
        </td>
        <td>
          <a nz-tooltip nzTooltipTitle="Activar / Desactivar">
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.write"
              [nzControl]="true"
              [nzLoading]="loadingSwAdmin"
              (click)="editPermisos(data, 'write')"
            ></nz-switch>
          </a>
        </td>
        <td>
          <a nz-tooltip nzTooltipTitle="Activar / Desactivar">
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.update"
              [nzControl]="true"
              [nzLoading]="loadingSwAdmin"
              (click)="editPermisos(data, 'update')"
            ></nz-switch>
          </a>
        </td>
        <td>
          <a nz-tooltip nzTooltipTitle="Activar / Desactivar">
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.delete"
              [nzControl]="true"
              [nzLoading]="loadingSwAdmin"
              (click)="editPermisos(data, 'delete')"
            ></nz-switch>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Clean</button>
    </div>
  </div>
</nz-dropdown-menu>
