<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Control Access</nz-breadcrumb-item>
      <nz-breadcrumb-item>Profiles</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawerNewProfile()">
      <i 
        nz-icon 
        nzType="user-add" 
        nzTheme="outline"> 
      </i>
      New Group
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportGroups()">
      <i
        nz-icon
        [nzType]="exportLoader ? 'loading' : 'download'"
        nzTheme="outline">
      </i>
      {{ exportLoader ? "Exporting..." : "Export Groups" }}
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Group Name..."
        [(ngModel)]="nameSearch"
        (ngModelChange)="search($event, 'name')"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span 
        nz-icon 
        nzType="search"> 
      </span>
    </ng-template>
  </div>

  <nz-table
    #nzTable
    [nzData]="listOfDisplayData"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th nzWidth="50%">Group</th>
        <th nzWidth="50%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.name }}</td>
        <td>
          <a>
            <span
              nz-icon
              title="Permissions"
              nzType="setting"
              nzTheme="outline"
              (click)="openPermissionsModal(data.id)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Edit"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <nz-switch
              title="Status"
              [(ngModel)]="data.active"
              nzSize="small"
              (click)="changeStatus(data.id, 'active')">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Delete"
              nzType="delete"
              nzTheme="outline"
              (click)="deleteGroup(data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span> No records found </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzPageSize]="page_size"
    [nzTotal]="count_records"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    (nzPageIndexChange)="handlePagination($event, page_size, false)"
    (nzPageSizeChange)="handlePagination(1, $event, false)">
  </nz-pagination>
</div>

<nz-drawer
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="isVisibleDrawerNewProfile"
  nzTitle="New profile"
  (nzOnClose)="closeDrawerNewProfile()"
  [nzWidth]="720"
  [nzFooter]="footerTpl">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="isDataLoading">
      <form [formGroup]="addForm" nz-form (ngSubmit)="SaveNewProfile()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="new_group"
            style="text-align: center">
            Profile
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="newGroupError">
            <input 
              nz-input 
              id="new_group" 
              formControlName="new_group_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #newGroupError>
          <span *ngIf="addForm.get('new_group_name')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="addForm.get('new_group_name')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="new_group"
            style="text-align: center">
            Type
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="typeError">
            <nz-select
              formControlName="code_type"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select Type">
              <nz-option
                *ngFor="let o of types_users"
                [nzLabel]="o.label"
                [nzValue]="o.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <ng-template #typeError>
          <span *ngIf="addForm.get('code_type')?.hasError('required')">
            This field is required
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; float: right">
      <button
        nz-button
        style="margin-right: 8px"
        (click)="closeDrawerNewProfile()">
        Close
      </button>

      <button 
        nz-button 
        nzType="primary" 
        (click)="SaveNewProfile()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>

<nz-drawer
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="isVisibleEditDrawer"
  nzTitle="Edit Group"
  [nzWidth]="720"
  [nzFooter]="footerEditTpl">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="isDataLoading">
      <form nz-form [formGroup]="editForm" (ngSubmit)="submitEdit()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="name"
            style="text-align: center">
            Group Name
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="nameError">
            <input 
              id="name" 
              nz-input 
              formControlName="name" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #nameError>
          <span *ngIf="editForm.get('name')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="editForm.get('name')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="new_group"
            style="text-align: center">
            Type
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="typeError">
            <nz-select
              formControlName="code_type"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select type">
              <nz-option
                *ngFor="let o of types_users"
                [nzLabel]="o.label"
                [nzValue]="o.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <ng-template #typeError>
          <span *ngIf="addForm.get('code_type')?.hasError('required')">
            This field is required
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerEditTpl>
    <div style="display: flex; float: right">
      <button 
        nz-button 
        style="margin-right: 8px" 
        (click)="closeEditDrawer()">
        Close
      </button>

      <button 
        nz-button 
        nzType="primary" 
        (click)="submitEdit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>

<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisiblePermisosModal"
  nzTitle="Permissions"
  (nzOnOk)="OkPermissionsModal()"
  (nzOnCancel)="OkPermissionsModal()"
  [nzMaskClosable]="false"
  [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <div class="table-filters">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          placeholder="Module Name..."
          [(ngModel)]="moduleSearch"
          (ngModelChange)="search($event, 'modulo')"
        />
      </nz-input-group>

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search"> 
        </span>
      </ng-template>
    </div>

    <nz-table
      #permisosTable
      [nzData]="listOfDisplayPermisos"
      [nzBordered]="false"
      [nzLoading]="isDataLoadingP"
      [nzNoResult]="noDataTemplate"
      [nzSize]="'middle'"
      [nzFrontPagination]="false">
      <thead>
        <tr>
          <th nzWidth="60px">Module</th>
          <th nzWidth="60px">Admin</th>
          <th nzWidth="60px">Read</th>
          <th nzWidth="60px">Write</th>
          <th nzWidth="60px">Update</th>
          <th nzWidth="60px">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of permisosTable.data">
          <td>{{ data.modulo_data.modulo }}</td>
          <td>
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.admin"
              [nzControl]="true"
              (click)="editPermissions(data, 'admin')">
            </nz-switch>
          </td>
          <td>
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.read"
              [nzControl]="true"
              (click)="editPermissions(data, 'read')">
            </nz-switch>
          </td>
          <td>
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.write"
              [nzControl]="true"
              (click)="editPermissions(data, 'write')">
            </nz-switch>
          </td>
          <td>
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.update"
              [nzControl]="true"
              (click)="editPermissions(data, 'update')">
            </nz-switch>
          </td>
          <td>
            <nz-switch
              nzSize="small"
              [(ngModel)]="data.delete"
              [nzControl]="true"
              (click)="editPermissions(data, 'delete')">
            </nz-switch>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #noDataTemplate>
      <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
          <span>No records found</span>
        </ng-template>
      </nz-empty>
    </ng-template>

    <nz-pagination
      [nzPageIndex]="p_page"
      [nzPageSize]="p_page_size"
      [nzTotal]="p_count_records"
      [nzShowSizeChanger]="true"
      [nzShowQuickJumper]="true"
      (nzPageIndexChange)="handlePagination($event, p_page_size, true)"
      (nzPageSizeChange)="handlePagination(1, $event, true)">
    </nz-pagination>
  </ng-container>

  <ng-template #modalFooter>
    <button 
      nz-button 
      nzType="default" 
      (click)="OkPermissionsModal()">
      Cancel
    </button>

    <button 
      nz-button 
      nzType="primary" 
      (click)="OkPermissionsModal()">
      OK
    </button>
  </ng-template>
</nz-modal>
