.title-page {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.table-filters {
    display: flex;
    flex: 1 1 auto;
}

nz-input-group {
    margin: 20px;
}

.btn-container button {
    margin-right: 5px;
}
=======
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.table-filters {
  display: flex;
  flex: 1 1 auto;
}

nz-input-group {
  margin: 20px;
}

.btn-container button {
  margin-right: 5px;
}
>>>>>>> 1976f3141f4c055ce9e3693483ee1ae5a8ec0c91
