<div class="form-container">
    <nz-card nzTitle="Create Insurer/Cover" nzBordered="false" class="form-card">
        <div class="form-header">
            <h2>New Insurer / Cover Registration</h2>
            <p>Please fill in the information to create a new insurer or coverage</p>
        </div>
        <nz-form nzLayout="vertical">
            <div nz-row nzGutter="16">
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'name'" class="form-label">Attribute 1</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="name" placeholder="Enter Attribute 1" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'Attribute3'" class="form-label">Attribute 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="Attribute3" placeholder="Attribute 3 optional" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'Attribute3'" class="form-label">Attribute 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="Attribute3" placeholder="Attribute 3 optional" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'name'" class="form-label">Attribute 1</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="name" placeholder="Enter Attribute 1" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'Attribute3'" class="form-label">Attribute 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="Attribute3" placeholder="Attribute 3 optional" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'Attribute3'" class="form-label">Attribute 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="Attribute3" placeholder="Attribute 3 optional" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'name'" class="form-label">Attribute 1</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="name" placeholder="Enter Attribute 1" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'Attribute3'" class="form-label">Attribute 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="Attribute3" placeholder="Attribute 3 optional" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'Attribute3'" class="form-label">Attribute 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input id="Attribute3" placeholder="Attribute 3 optional" class="form-input" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>

            <div class="button-container">
                <button nz-button nzType="primary" class="form-button">Add</button>
            </div>
        </nz-form>
    </nz-card>
</div>
