<div class="title-page layout-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
    <nz-breadcrumb-item>Resource Management</nz-breadcrumb-item>
    <nz-breadcrumb-item>Doctors</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawer()">
      <i 
        nz-icon 
        nzType="user" 
        nzTheme="outline"> 
      </i>
      New Doctor
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportDoctors()">
      <i
        nz-icon
        [nzType]="exportLoader ? 'loading' : 'download'"
        nzTheme="outline">
      </i>
      {{ exportLoader ? "Exporting..." : "Export Doctors" }}
    </button>
  </div>
</div>

<div class="layout-container">
  <div class="table-filters">
    <nz-input-group
      *ngFor="let field of searchFields"
      [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search"> 
        </span>
      </ng-template>
    </nz-input-group>
  </div>

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Fisrt Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>License Number</th>
        <th>Npi</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.license_number }}</td>
        <td>{{ data.npi }}</td>
        <td>{{ data.created | date }}</td>
        <td>
          <a>
            <nz-switch
              title="Status"
              [(ngModel)]="data.active"
              nzSize="small"
              (ngModelChange)="changeStatus(data.id, data)">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Edit"
              nzType="edit"
              nzTheme="outline"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Delete"
              nzType="delete"
              nzTheme="outline"
              (click)="delete(data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span> No records found </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowSizeChanger]="true"
    nzShowQuickJumper>
  </nz-pagination>
</div>

<nz-drawer
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="720"
  [nzFooter]="footer">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="drawerLoader">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="first_name"
            style="text-align: center">
            First Name
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('first_name')">
            <input 
              nz-input 
              formControlName="first_name" 
              id="first_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="last_name"
            style="text-align: center">
            Last Name
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('last_name')">
            <input 
              nz-input 
              formControlName="last_name" 
              id="last_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="license_number"
            style="text-align: center">
            License Number
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('license_number')">
            <input
              nz-input
              formControlName="license_number"
              id="license_number"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="npi"
            style="text-align: center">
            Npi
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('npi')">
            <input 
              nz-input 
              formControlName="npi" 
              id="npi" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="email"
            style="text-align: center">
            Email
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('email')">
            <input 
              nz-input 
              type="email" 
              formControlName="email" 
              id="email" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="phone"
            style="text-align: center">
            Phone
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('phone')">
            <input 
              nz-input 
              formControlName="phone" 
              id="phone" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="userAttr.rol != 2">
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="supplier"
            style="text-align: center">
            Provider
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="errorTemplate"
            [nzHasFeedback]="hasFeedback('supplier')">
            <nz-select
              formControlName="supplier"
              nzPlaceHolder="Select Provider"
              style="width: 100%; border-radius: 6px"
              nzAllowClear
              nzShowSearch>
              <nz-option
                *ngFor="let o of suppliers"
                [nzLabel]="o.user.first_name + ' ' + o.user.last_name"
                [nzValue]="o.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <ng-template #errorTemplate let-control>
          <span *ngIf="control && getErrorMessage(control)">
            {{ getErrorMessage(control) }}
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footer>
    <div style="display: flex; float: right">
      <button 
        nz-button 
        style="margin-right: 8px" 
        (click)="closeDrawer()">
        Close
      </button>

      <button 
        nz-button 
        nzType="primary" 
        (click)="submit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>