<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Resource Management</nz-breadcrumb-item>
      <nz-breadcrumb-item>Doctors</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawer()">
      <i 
        nz-icon 
        nzType="user" 
        nzTheme="outline">
      </i>
      New Doctor
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportDoctors()">
      <i 
        nz-icon 
        nzType="download" 
        nzTheme="outline">
      </i>
      Export Doctors
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group 
      *ngFor="let field of searchFields" 
      [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search">
        </span>
      </ng-template>
    </nz-input-group>
  </div>  

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Fisrt name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>License number</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.license_number }}</td>
        <td>{{ data.created | date }}</td>
        <td>
          <a>
            <nz-switch
              title="Status"
              [(ngModel)]="data.active"
              nzSize="small"
              (ngModelChange)="changeStatus(data.id, data)">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Edit"
              nzType="edit"
              nzTheme="outline"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Delete"
              nzType="delete"
              nzTheme="outline"
              (click)="delete(data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          No doctors found
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    (nzPageIndexChange)="pageChange($event)"
    [nzShowSizeChanger]="true"
    nzShowQuickJumper>
  </nz-pagination>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="720"
  [nzFooter]="footerTpl">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="drawerLoader">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="code"
            style="text-align: center">
            First name
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="first_nameError">
            <input 
              nz-input 
              formControlName="first_name" 
              id="first_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #first_nameError>
          <span *ngIf="form.get('first_name')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('first_name')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="last_name"
            style="text-align: center">
            Last name
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="last_nameError">
            <input 
              nz-input 
              formControlName="last_name" 
              id="last_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #last_nameError>
          <span *ngIf="form.get('last_name')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('last_name')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="license_number"
            style="text-align: center">
            License number
          </nz-form-label>

          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            [nzErrorTip]="license_numberError">
            <input
              nz-input
              formControlName="license_number"
              id="license_number"
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #license_numberError>
          <span *ngIf="form.get('license_number')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('license_number')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="email"
            style="text-align: center">
            Email
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="emailError">
            <input 
              nz-input 
              type="email" 
              formControlName="email" 
              id="email" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #emailError>
          <span *ngIf="form.get('email')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('email')?.hasError('email')">
            Please enter a valid email address
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="phone"
            style="text-align: center">
            Phone
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="phoneError">
            <input 
              nz-input 
              formControlName="phone" 
              id="phone" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #phoneError>
          <span *ngIf="form.get('phone')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('phone')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="phone"
            style="text-align: center">
            Supplier
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="supplierError">
            <nz-select
              formControlName="supplier"
              nzPlaceHolder="Select Supplier"
              style="width: 100%; border-radius: 6px"
              nzAllowClear>
              <nz-option
                *ngFor="let o of suppliers"
                [nzLabel]="o.user.first_name"
                [nzValue]="o.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        
        <ng-template #supplierError>
          <span *ngIf="form.get('supplier')?.hasError('required')">
            This field is required
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; float: right">
      <button 
        nz-button 
        style="margin-right: 8px" 
        (click)="closeDrawer()">
        Close
      </button>
      
      <button 
        nz-button 
        nzType="primary" 
        (click)="submit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>
