<button nz-button nzType="link" (click)="showDrawer()">
  <i nz-icon nzType="edit" nzTheme="outline"> </i>
</button>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="isVisible"
  nzPlacement="right"
  nzTitle="Edit User"
  [nzWidth]="720"
  [nzFooter]="footerTpl"
>
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="isDataLoading">
      <form nz-form *ngIf="tempUser">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            style="text-align: center"
            nzFor="firstName"
          >
            First name
          </nz-form-label>

          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input
              nz-input
              [(ngModel)]="tempUser.first_name"
              name="firstName"
              id="firstName"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            style="text-align: center"
            nzFor="lastName"
          >
            Last name
          </nz-form-label>

          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input
              nz-input
              [(ngModel)]="tempUser.last_name"
              name="lastName"
              id="lastName"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            style="text-align: center"
            nzFor="email"
          >
            Email
          </nz-form-label>

          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input
              nz-input
              [(ngModel)]="tempUser.email"
              name="email"
              id="email"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            style="text-align: center"
            nzFor="phone"
          >
            Phone
          </nz-form-label>

          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input
              nz-input
              [(ngModel)]="tempUser.phone"
              name="phone"
              id="phone"
            />
          </nz-form-control>
        </nz-form-item>

        <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type.type == 'SUPPLIER'"
        >
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="8"
                [nzXs]="24"
                style="text-align: center"
                nzFor="localities"
              >
                Localities
              </nz-form-label>

              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  [(ngModel)]="tempUser.localities"
                  nzPlaceHolder="Select localities"
                  name="localities"
                  id="localities"
                  nzMode="multiple"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of localities"
                    [nzLabel]="o.name"
                    [nzValue]="o.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type.type == 'SUPPLIER'"
        >
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label
                [nzSm]="8"
                [nzXs]="24"
                style="text-align: center"
                nzFor="license_number"
              >
                License Number
              </nz-form-label>

              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="license_number"
                  id="license_number"
                  nz-input
                  [(ngModel)]="tempUser.extra_data[0].license_number"
                  placeholder="Enter license number"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type.type == 'SUPPLIER'"
        >
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="8" style="text-align: center" [nzXs]="24">
                Insurers
              </nz-form-label>

              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="insurers"
                  nzMode="multiple"
                  [(ngModel)]="tempUser.insurers"
                  nzPlaceHolder="Select insurers"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of insurers"
                    [nzLabel]="o.name"
                    [nzValue]="o.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <!--  -->
        <div
          nz-row
          [nzGutter]="16"
          *ngIf="
            user.extra_data &&
            user_type.type == 'PARTNER' &&
            user_attr.rol != 'SUPPLIER'
          "
        >
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" style="text-align: center" [nzXs]="24">
                Supplier
              </nz-form-label>

              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="supplier"
                  [(ngModel)]="tempUser.extra_data[0].supplier_id"
                  nzPlaceHolder="Select supplier"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of suppliers"
                    [nzLabel]="o.user.first_name + ' ' + o.user.last_name"
                    [nzValue]="o.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerTpl>
    <div
      class="footer-actions"
      style="display: flex; justify-content: flex-end"
    >
      <button nz-button style="margin-right: 8px" (click)="closeDrawer()">
        Close
      </button>

      <button nz-button nzType="primary" (click)="submit()">Save</button>
    </div>
  </ng-template>
</nz-drawer>
