<button nz-button nzType="link" (click)="showModal()">
  <i nz-icon nzType="edit" nzTheme="outline"></i>
</button>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit User Attributes"
  nzOkText="Update Attributes"
  nzCancelText="Cancel"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <nz-spin [nzSpinning]="loading">
      <form
        nz-form
        [nzLayout]="'vertical'"
        class="form-container"
        *ngIf="tempUser"
      >
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">First Name</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  [(ngModel)]="tempUser.first_name"
                  name="firstName"
                  placeholder="Enter first name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Last Name</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  [(ngModel)]="tempUser.last_name"
                  name="lastName"
                  placeholder="Enter last name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Email</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  [(ngModel)]="tempUser.email"
                  name="email"
                  type="email"
                  placeholder="Enter email"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Phone</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  [(ngModel)]="tempUser.phone"
                  name="phone"
                  type="tel"
                  placeholder="Enter phone"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type.type == 'SUPPLIER'"
        >
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Localities</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  (ngModelChange)="storeChange($event)"
                  [(ngModel)]="tempUser.localities"
                  nzPlaceHolder="Select localities"
                  style="width: 100%; border-radius: 6px"
                  name="localities"
                  nzMode="multiple"
                >
                  <nz-option
                    *ngFor="let o of localities"
                    [nzLabel]="o.name"
                    [nzValue]="o.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div
            nz-col
            [nzSpan]="12"
            *ngIf="user.extra_data && user_type.type == 'SUPPLIER'"
          >
            <nz-form-item>
              <nz-form-label [nzSpan]="24">License Number</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="license_number"
                  nz-input
                  [(ngModel)]="tempUser.extra_data[0].license_number"
                  placeholder="Enter license number"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <!-- <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type == 'Supplier'"
        >
          
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Specialies</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="specialities"
                  nzMode="multiple"
                  [(ngModel)]="tempUser.specialities"
                  nzPlaceHolder="Select specialities"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of specialities"
                    [nzLabel]="o.description"
                    [nzValue]="o.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" *ngIf="user_type == 'Supplier'">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Office</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="office_id"
                  [(ngModel)]="tempUser.extra_data[0].office_id"
                  nzPlaceHolder="Select office"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of officesToDisplay"
                    [nzLabel]="o.name"
                    [nzValue]="o.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> -->
        <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type.type == 'SUPPLIER'"
        >
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Insurers</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="insurers"
                  nzMode="multiple"
                  [(ngModel)]="tempUser.insurers"
                  nzPlaceHolder="Select insurers"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of insurers"
                    [nzLabel]="o.name"
                    [nzValue]="o.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <!--  -->
        <div
          nz-row
          [nzGutter]="16"
          *ngIf="user.extra_data && user_type.type == 'PARTNER'"
        >
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Supplier</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="supplier"
                  [(ngModel)]="tempUser.extra_data[0].supplier_id"
                  nzPlaceHolder="Select supplier"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of suppliers"
                    [nzLabel]="o.user.first_name + ' ' + o.user.last_name"
                    [nzValue]="o.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Partner type</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  *ngIf="tempUser?.extra_data?.length > 0"
                  name="partner_type_id"
                  [(ngModel)]="tempUser.extra_data[0].partner_type_id"
                  nzPlaceHolder="Select partner type"
                  style="width: 100%; border-radius: 6px"
                >
                  <nz-option
                    *ngFor="let o of partner_types"
                    [nzLabel]="o.description"
                    [nzValue]="o.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>
        <!--  -->
      </form>

      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
        *ngIf="user_type == 'Supplier' || user_type == 'Partner'"
      >
        <h3>Working Hours</h3>
        <button nz-button nzType="primary" [nzSize]="'small'" (click)="open()">
          Add
        </button>
      </div>

      <nz-table
        #basicTable
        [nzData]="workingHours"
        [nzFrontPagination]="false"
        *ngIf="user_type == 'Supplier' || user_type == 'Partner'"
      >
        <thead>
          <tr>
            <th>Store</th>
            <th>Day</th>
            <th>Start Hour</th>
            <th>End Hour</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.store_data.name }}</td>
            <td>{{ data.day }}</td>
            <td>{{ data.hour_start }}</td>
            <td>{{ data.hour_end }}</td>
            <td>
              <a
                ><i
                  nz-icon
                  nzType="edit"
                  (click)="openEdit(data)"
                  nzTheme="outline"
                ></i
              ></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
                ><i nz-icon nzType="delete" (click)="deleteHour(data.id)"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </nz-table> -->
    </nz-spin>
  </ng-container>
</nz-modal>

<!-- <nz-modal
  [(nzVisible)]="visibleDrawer"
  [nzTitle]="titleDrawer"
  (nzOnCancel)="closeDrawer()"
  (nzOnOk)="submitDrawer()"
>
  <ng-container *nzModalContent>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="4">Day</nz-form-label>
        <nz-form-control nz-col nzSpan="16">
          <nz-select
            [(ngModel)]="workingHourForm.day"
            name="day"
            nzPlaceHolder="Select day"
            style="width: 100%; border-radius: 6px"
          >
            <nz-option
              *ngFor="let o of days"
              [nzLabel]="o"
              [nzValue]="o"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="4">Store</nz-form-label>
        <nz-form-control nz-col nzSpan="16">
          <nz-select
            [(ngModel)]="workingHourForm.store"
            name="store"
            nzPlaceHolder="Select store"
            style="width: 100%; border-radius: 6px"
          >
            <nz-option
              *ngFor="let o of localities"
              [nzLabel]="o.name"
              [nzValue]="o.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="4">Start Hour</nz-form-label>
        <nz-form-control nz-col nzSpan="16">
          <input
            nz-input
            type="number"
            name="hour_start"
            [(ngModel)]="workingHourForm.hour_start"
            style="
              width: 100%;
              border-radius: 6px;
              font-size: 14px;
              padding: 8px;
            "
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="4">End Hour</nz-form-label>
        <nz-form-control nz-col nzSpan="16">
          <input
            nz-input
            type="number"
            name="hour_end"
            [(ngModel)]="workingHourForm.hour_end"
            style="
              width: 100%;
              border-radius: 6px;
              font-size: 14px;
              padding: 8px;
            "
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-container>
</nz-modal> -->
