.title-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.table-filters {
  display: flex;
  flex: 1 1 auto;
}
nz-input-group {
  /* width: 300px; */
  margin: 20px;
}
