.section {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding: 10px 0;
}

nz-date-picker,
input[nz-input] {
    width: 100%;
    border-radius: 6px;
    padding: 8px 12px;
}

nz-table th,
nz-table td {
    text-align: center;
    padding: 10px;
    white-space: nowrap;
}
