<nz-card nzTitle="CLAIM ENTRY" [nzBordered]="true" class="main-card">
  <form nz-form [formGroup]="form">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="insurance_type">
            Insurance Type
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="insurance_type"
              nzPlaceHolder="Select Insurance Type"
              formControlName="insurance_type">
              <nz-option 
                nzLabel="MEDICARE" [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="MEDICAID" [nzValue]="2">
              </nz-option>
              <nz-option 
                nzLabel="TRICARE" [nzValue]="3">
              </nz-option>
              <nz-option 
                nzLabel="CHAMPVA" [nzValue]="4">
              </nz-option>
              <nz-option 
                nzLabel="GROUP HEALTH PLAN" [nzValue]="5">
              </nz-option>
              <nz-option 
                nzLabel="FECA" [nzValue]="6">
              </nz-option>
              <nz-option 
                nzLabel="OTHER" [nzValue]="7">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="insured_id">
            Insured ID Number
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <input 
              nz-input
              id="insured_id"
              formControlName="insured_id"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_name">
            Patient's Name
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_name"
              formControlName="patient_name"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_birth_date">
            Patient's Birth Date
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_birth_date"
              formControlName="patient_birth_date"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="gender">
            Gender
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="gender"
              nzPlaceHolder="Select Gender"
              formControlName="gender">
              <nz-option 
                nzLabel="F" [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="M" [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="insured_name">
            Insured's Name
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="insured_name"
              formControlName="insured_name"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
       
    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_address">
            Patient's Address
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_address"
              formControlName="patient_address"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="relationship">
            Patient's Relationship To Insured
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="relationship"
              nzPlaceHolder="Select Relationship"
              formControlName="relationship">
              <nz-option 
                nzLabel="SELF" [nzValue]="1" selected>
              </nz-option>
              <nz-option 
                nzLabel="SPOUSE" [nzValue]="2">
              </nz-option>
              <nz-option 
                nzLabel="CHILD" [nzValue]="3">
              </nz-option>
              <nz-option 
                nzLabel="OTHER" [nzValue]="4">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="insured_address">
            Insured's Address
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="insured_address"
              formControlName="insured_address"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_city">
            Patient's City
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_city"
              formControlName="patient_city"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_state">
            Patient's State
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_state"
              formControlName="patient_state"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
        
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="provider_city">
            Provider's City
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="provider_city"
              formControlName="provider_city"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="provider_state">
            Provider's State
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="provider_state"
              formControlName="provider_state"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_zip_code">
            Patient's Zip Code
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_zip_code"
              formControlName="patient_zip_code"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_phone">
            Patient's Phone
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="patient_phone"
              formControlName="patient_phone"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="provider_zip_code">
            Provider's Zip Code
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="provider_zip_code"
              formControlName="provider_zip_code"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="provider_phone">
            Provider's Phone
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="provider_phone"
              formControlName="provider_phone"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="other_insured">
            Other Insured's Name
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="other_insured"
              formControlName="other_insured"
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="policy_group">
            Insured's Policy Group Or Feca
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="policy_group"
              formControlName="policy_group"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="plan_name">
            Insurance Plan Name
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="plan_name"
              formControlName="plan_name"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>    

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="employment">
            Employment
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="employment"
              nzPlaceHolder="Select Employment"
              formControlName="employment">
              <nz-option 
                nzLabel="YES" [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="NO" [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="auto_accident">
            Auto Accident
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="auto_accident"
              nzPlaceHolder="Select Auto Accident"
              formControlName="auto_accident">
              <nz-option 
                nzLabel="YES" [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="NO" [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="other_accident">
            Other Accident
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="other_accident"
              nzPlaceHolder="Select Other Accident"
              formControlName="other_accident">
              <nz-option 
                nzLabel="YES" [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="NO" [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>    

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="patient_signature">
            Patient's Signature
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="patient_signature"
              nzPlaceHolder="Select Patient's Signature"
              formControlName="patient_signature">
              <nz-option 
                nzLabel="SOF (Signature On File)" [nzValue]="1">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="date">
            Date
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <nz-date-picker 
              nzFormat="MM-dd-YYYY" 
              formControlName="date">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>      

      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="insured_signature">
            Insured's Signature
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="insured_signature"
              nzPlaceHolder="Insured's Signature"
              formControlName="insured_signature">
              <nz-option 
                nzLabel="SOF (Signature On File)" [nzValue]="1">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="refering_provider">
            Name or Referring Provider
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input 
              id="refering_provider" 
              formControlName="refering_provider" 
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="refering_provider_npi">
            Name or Referring Provider NPI
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input 
              id="refering_provider_npi" 
              formControlName="refering_provider_npi" 
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <nz-divider nzType="horizontal"></nz-divider>

    <button 
      nz-button 
      nzType="primary" 
      nzIcon="plus"
      style="margin-bottom: 16px;"
      (click)="addDiagnosis()">
      Add diagnosis
    </button>

    <div formArrayName="diagnosis">
      <nz-row [nzGutter]="16">
        <nz-col
          [nzSpan]="24"
          [nzSm]="12"
          [nzMd]="8"
          [nzLg]="6"
          style="margin-bottom: 16px;"
          *ngFor="let diagCtrl of diagnosisControls.controls; let i = index">
          <nz-form-item>
            <nz-form-label 
              [nzSpan]="6" 
              [nzSm]="8" 
              [nzMd]="6">
              Diag {{ i + 1 }}
            </nz-form-label>
            
            <nz-form-control 
              [nzSpan]="18" 
              [nzSm]="16" 
              [nzMd]="18">
              <nz-select
                nzShowSearch
                [formControlName]="i"
                [nzOptions]="diagnosisOptions"
                style="width: 100%"
                [nzSuffixIcon]="deleteIcon"
                placeholder="Select Diagnosis">
              </nz-select>

              <ng-template #deleteIcon>
                <i
                  nz-icon
                  nzType="delete"
                  nzTheme="twotone"
                  *ngIf="i !== 0"
                  (click)="removeDiagnosis(i)"
                  style="cursor: pointer">
                </i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </div>
      
    <nz-divider nzType="horizontal"></nz-divider>

    <div class="table-container">
      <nz-table 
        [nzData]="rowsControls.controls" 
        [nzSize]="'small'" 
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzWidth="12.09%">From</th>
            <th nzWidth="12.09%">To</th>
            <th nzWidth="7.09%">Place of Service</th>
            <th nzWidth="7.09%">Emg</th>
            <th nzWidth="9.09%">Procedures</th>
            <th *ngIf="claimData.modifiers == '1'" nzWidth="9.09%">Modifiers</th>
            <th nzWidth="7.09%">Diagnosis pointer</th>
            <th nzWidth="9.09%">Charges</th>
            <th nzWidth="7.09%">Days or Unit</th>
            <th nzWidth="7.09%">Rendering Provider ID</th>
            <th nzWidth="9.09%">Action</th>
          </tr>
        </thead>
        <tbody formArrayName="rows">
          <tr *ngFor="let rowCtrl of rowsControls.controls; let i = index" [formGroupName]="i">
            <td>
              <nz-date-picker 
                nzFormat="MM/dd/yyyy" 
                formControlName="date_initial">
              </nz-date-picker>
            </td>
            <td>
              <nz-date-picker 
                nzFormat="MM/dd/yyyy" 
                formControlName="date_final">
              </nz-date-picker>
            </td>
            <td>
              <input 
                nz-input 
                type="text" 
                formControlName="place_of_service" 
              />
            </td>
            <td>
              <nz-select 
                formControlName="emg" 
                nzPlaceHolder="Select Emg">
                <nz-option 
                  nzValue="NO" 
                  nzLabel="NO">
                </nz-option>
                <nz-option 
                  nzValue="YES" 
                  nzLabel="YES">
                </nz-option>
              </nz-select>
            </td>
            <td>
              <nz-spin [nzSpinning]="cptLoading">
                <input 
                  nz-input 
                  type="text" 
                  formControlName="procedures"
                  (ngModelChange)="searchProcedures(rowCtrl.get('procedures')?.value, rowCtrl)" />
              </nz-spin>
            </td>
            <td *ngIf="claimData.modifiers == '1'">
              <div formArrayName="modifiers">
                <ng-container 
                  *ngFor="let modifierCtrl of getModifiersControls(rowCtrl); 
                  let j = index" [formGroupName]="j">
                  <nz-select 
                    formControlName="value" 
                    style="width: 100px; margin-right: 8px" 
                    nzShowSearch 
                    nzAllowClear>
                    <nz-option 
                      *ngFor="let option of modifiersOptions" 
                      [nzValue]="option.value" 
                      [nzLabel]="option.label">
                    </nz-option>
                  </nz-select>
                </ng-container>
              </div>              
            </td>            
            <td>
              <input 
                nz-input 
                type="text" 
                formControlName="diagnosis_pointer" 
              />
            </td>
            <td>
              <input 
                nz-input 
                type="number" 
                formControlName="charges" 
                (ngModelChange)="calculateTotalCharges()" 
              />
            </td>
            <td>
              <input 
                nz-input 
                type="number" 
                formControlName="units" 
              />
            </td>
            <td>
              <input 
                nz-input 
                type="number" 
                formControlName="rendering_id" 
                readonly 
              />
            </td>
            <td>
              <a>
                <span 
                  nz-icon 
                  title="Add row" 
                  nzType="plus" 
                  (click)="addRow()"
                  nzTheme="outline">
                </span>
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>
                <span 
                  nz-icon 
                  title="Copy row" 
                  nzType="copy" 
                  (click)="copyRow(i)"
                  nzTheme="outline">
                </span>
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>
                <span
                  nz-icon
                  title="Delete row"
                  nzType="delete"
                  nzTheme="outline"
                  (click)="deleteRow(i)">
                </span>
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>
                <span
                  nz-icon
                  title="Reset row"
                  nzType="reload"
                  nzTheme="outline"
                  (click)="resetRow(i)"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="federal_tax_id">
            Federal Tax ID
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <input 
              nz-input
              id="federal_tax_id"
              formControlName="federal_tax_id"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
  
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label 
            [nzSpan]="8" 
            nzFor="ssn_ein">
            SSN / EIN
          </nz-form-label>

          <nz-form-control 
            [nzSpan]="16">
            <nz-select 
              style="width: 100%;" 
              nzShowSearch 
              nzAllowClear 
              id="ssn_ein"
              nzPlaceHolder="Select SSN / EIN"
              formControlName="ssn_ein">
              <nz-option 
                nzLabel="SSN" 
                [nzValue]="1">
              </nz-option>
              <nz-option 
                nzLabel="EIN" 
                [nzValue]="2">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </form>


<!-- 
  <div class="section">
    <button nz-button nzType="primary" nzIcon="plus" (click)="addDiagnosis()">
      Add diagnosis
    </button>

    <br /><br />

    <form nz-form>
      <nz-row [nzGutter]="16">
        <nz-col
          [nzSpan]="24"
          [nzSm]="12"
          [nzMd]="8"
          [nzLg]="6"
          *ngFor="let item of selectedDiagnosis; let i = index"
        >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" [nzSm]="8" [nzMd]="6">
              {{ getOrdinalSuffix(i + 1) }}
            </nz-form-label>

            <nz-form-control [nzSpan]="18" [nzSm]="16" [nzMd]="18">
              <nz-select
                nzShowSearch
                [(ngModel)]="item.description"
                [nzOptions]="diagnosisOptions"
                style="width: 100%"
                placeholder="Select a diagnosis"
                name="diagnosis{{ i }}"
                [nzSuffixIcon]="deleteIcon"
              >
              </nz-select>

              <ng-template #deleteIcon>
                <i
                  *ngIf="selectedDiagnosis.length > 2 && i >= 2"
                  nz-icon
                  nzType="delete"
                  nzTheme="twotone"
                  nzTooltipTitle="Delete diagnosis"
                  (click)="removeDiagnosis(i)"
                  class="delete-icon"
                  style="cursor: pointer"
                >
                </i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <br />
        </nz-col>
      </nz-row>
    </form>
  </div>

  <div class="section">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="facility">
            Facility:
          </nz-form-label>

          <nz-form-control [nzSpan]="20">
            <nz-select
              name="facility"
              id="facility"
              style="width: 100%"
              nzShowSearch
              [(ngModel)]="selectedLocality"
            >
              <nz-option
                *ngFor="let locality of localities"
                [nzValue]="locality.id"
                [nzLabel]="locality.name"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="location">
            Location:
          </nz-form-label>

          <nz-form-control [nzSpan]="20">
            <nz-select
              name="location"
              id="location"
              style="width: 100%"
              nzShowSearch
              [(ngModel)]="selectedLocation"
              [nzPlaceHolder]="'Select a location'"
              (ngModelChange)="onLocationChange()"
            >
              <nz-option
                *ngFor="let location of locations"
                [nzValue]="location.code"
                [nzLabel]="location.code + ' - ' + location.description"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="information">
            Member have C.O.B
          </nz-form-label>

          <nz-form-control [nzSpan]="16">
            <nz-select
              name="information"
              id="information"
              style="width: 100%"
              [(ngModel)]="selectedMemberHave"
            >
              <nz-option
                *ngFor="let member of memberHave"
                [nzValue]="member.id"
                [nzLabel]="member.name"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <br /><br />

  <div class="table-container">
    <b>
      Service(s): {{ claimData.patientName | uppercase }} {{ currentTime }}
    </b>

    <br /><br />

    <nz-table
      #basicTable
      [nzData]="rows"
      [nzSize]="'small'"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th nzWidth="12.09%">From</th>
          <th nzWidth="12.09%">To</th>
          <th nzWidth="7.09%">place_of_service</th>
          <th nzWidth="9.09%">Cpt</th>
          <th *ngIf="claimData.modifiers == '1'" nzWidth="9.09%">Modifiers</th>
          <th nzWidth="7.09%">Diagnosis pointer</th>
          <th nzWidth="9.09%">Charges</th>
          <th nzWidth="7.09%">Units</th>
          <th *ngIf="claimData.orderringNpi == '1'" nzWidth="9.09%">
            Ordering NPI
          </th>
          <th *ngIf="claimData.referingNpi == '1'" nzWidth="9.09%">
            Refering NPI
          </th>
          <th nzWidth="9.09%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; index as i">
          <td>
            <nz-date-picker
              nzFormat="MM/dd/yyyy"
              [(ngModel)]="row.date_initial"
              (ngModelChange)="formatDate(row, 'date_initial')"
            >
            </nz-date-picker>
          </td>
          <td>
            <nz-date-picker
              nzFormat="MM/dd/yyyy"
              [(ngModel)]="row.date_final"
              (ngModelChange)="formatDate(row, 'date_final')"
            >
            </nz-date-picker>
          </td>
          <td>
            <input nz-input type="text" [(ngModel)]="row.place_of_service" />
          </td>
          <td>
            <nz-spin [nzSpinning]="cptLoading">
              <input
                nz-input
                type="text"
                [(ngModel)]="row.cpt"
                (ngModelChange)="searchCpt(row.cpt, row)"
              />
            </nz-spin>
          </td>
          <td *ngIf="claimData.modifiers == '1'">
            <ng-container
              *ngFor="let modifier of row.modifiers; index as modIndex"
            >
              <nz-select
                [(ngModel)]="modifier.value"
                [id]="modifier.id"
                style="width: 100px; margin-right: 8px"
                nzShowSearch
                nzAllowClear
              >
                <nz-option
                  *ngFor="let option of modifiersOptions"
                  [nzValue]="option.value"
                  [nzLabel]="option.label"
                >
                </nz-option>
              </nz-select>
            </ng-container>
          </td>
          <td>
            <input nz-input type="text" [(ngModel)]="row.diagnosisPointer" />
          </td>
          <td>
            <input
              nz-input
              type="number"
              name="charge{{ i }}"
              [(ngModel)]="row.charges"
              (ngModelChange)="calculateTotalCharges()"
            />
          </td>
          <td>
            <input nz-input type="number" [(ngModel)]="row.units" />
          </td>
          <td *ngIf="claimData.orderringNpi == '1'">
            <input nz-input type="number" [(ngModel)]="row.ordering_npi" />
          </td>
          <td *ngIf="claimData.referingNpi == '1'">
            <input nz-input type="number" [(ngModel)]="row.refering_npi" />
          </td>
          <td>
            <a>
              <span
                nz-icon
                title="Add row"
                nzType="plus"
                nzTheme="outline"
                (click)="addRow()"
              >
              </span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>
              <span
                nz-icon
                title="Copy row"
                nzType="copy"
                nzTheme="outline"
                (click)="copyRow(i)"
              >
              </span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>
              <span
                nz-icon
                title="Delete row"
                nzType="delete"
                nzTheme="outline"
                (click)="deleteRow(i)"
              >
              </span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>
              <span
                nz-icon
                title="Reset row"
                nzType="reload"
                nzTheme="outline"
                (click)="resetRow(i)"
              >
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="section">
    <nz-divider nzText="Account information"></nz-divider>

    <nz-row [nzGutter]="16">
      <ng-container *ngFor="let field of accountFields; let i = index">
        <nz-col
          [nzSpan]="8"
          *ngIf="
            field.id != 'auth' || (field.id == 'auth' && claimData.auth == '1')
          "
        >
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="16">
              {{ field.label }}
            </nz-form-label>

            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input
                nz-input
                [id]="field.id"
                [(ngModel)]="field.value"
                [readonly]="field.id === 'charge' || field.id === 'balance'"
                [type]="
                  ['charge', 'paid', 'balance'].includes(field.id)
                    ? 'number'
                    : 'text'
                "
                (ngModelChange)="updateFieldValue(i, $event)"
              />
            </nz-form-control>
          </nz-form-item>
          <br />
        </nz-col>
      </ng-container>
    </nz-row>
  </div>

  <nz-divider [nzText]="dividerTemplate"></nz-divider>

  <ng-template #dividerTemplate>
    <button
      nz-button
      nzType="primary"
      [ngStyle]="{ 'background-color': '#FF5733', 'border-color': '#FF5733' }"
      (click)="previewClaim()"
    >
      Preview claim
    </button>

    <app-claim-preview
      [isPreviewVisible]="isPreviewVisible"
      [claimData]="claimData"
      [selectedDiagnosis]="selectedDiagnosis"
      [accountFields]="accountFields"
      [rows]="rows"
      (closePreviewEvent)="isPreviewVisible = false"
    >
    </app-claim-preview>
  </ng-template>
</nz-card> -->
