<div class="layout-container">
<div class="container">
  <app-notification
    *ngIf="message"
    [type]="messageType"
    [message]="message"
    (close)="closeMessage()"
  ></app-notification>

  <form [formGroup]="changePasswordForm" class="box">
    <h4>Change Password</h4>
    <h5>Please set a new password for your account</h5>

    <div class="input-container">
      <i class="fas fa-lock icon"></i>
      <input
        (ngModelChange)="passwordChange($event)"
        type="password"
        formControlName="new_password"
        placeholder="New Password"
        autocomplete="off"
      />
      <span
        class="status-icon"
        [ngClass]="{'error': !passwordRight, 'success': passwordRight}"
        [attr.data-tooltip]="!passwordRight ? 'Min 8 chars, 1 number, 1 uppercase, 1 lowercase' : null"
        >
        <i 
        class="fas" 
        [ngClass]="passwordRight ? 'fa-check-circle' : 'fa-exclamation-circle'">
        </i>
      </span>
    </div>

    <div class="input-container">
      <i class="fas fa-lock icon"></i>
      <input
        type="password"
        (ngModelChange)="confirmPasswordChange($event)"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        autocomplete="off"
      />
      <span
        class="status-icon"
        [ngClass]="{'error': !passwordConfirm, 'success': passwordConfirm}"
        [attr.data-tooltip]="!passwordConfirm ? 'Passwords do not match. Please confirm your password.' : null"
        >
        <i 
        class="fas" 
        [ngClass]="passwordConfirm ? 'fa-check-circle' : 'fa-exclamation-circle'">
        </i>
      </span>
    </div>

    <app-button
      label="Submit"
      [isLoading]="isLoading"
      [btnActive]="btnActive"
      (buttonClick)="changePassword()"
    ></app-button>
  </form>
</div>
</div>
