.container {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 400px;
    height: 500px;
    transform: translateX(-50%);
    background-color: var(--color-container-bg);
    border-radius: 9px;
    overflow: hidden;
}

.box h4 {
    color: #5c6bc0;
    font-size: 18px;
    margin-top: 75px;
    text-align: center;
}

.box h5 {
    font-size: 13px;
    color: var(--color-text-secondary);
    letter-spacing: 1.5px;
    margin-top: -10px;
    margin-bottom: 70px;
    text-align: center;
}

.box input {
    display: block;
    width: 100%;
    padding: 14px 10px 14px 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    color: #565f79;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}

::placeholder {
    color: #565f79;
}

a {
    color: #5c7fda;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.link-container {
    margin: 10px 0;
    padding-right: 30px;
    text-align: right;
}

.input-container {
    position: relative;
    width: calc(100% - 52px);
    margin: 0 auto 20px;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
}

.status-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.status-icon.error {
    color: #e74c3c;
}

.status-icon.success {
    color: #2ecc71;
}

.status-icon[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

.status-icon[data-tooltip]:hover::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

app-button[data-tooltip]:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 350px;
    right: 64px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}