@keyframes fadeInBackground {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
.layout-container {
    font-family: 'Source Sans Pro', sans-serif;
    background: url('../../../assets/body.webp') no-repeat center/cover;
    background-position: inherit;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInBackground 1.3s ease-in-out;
}

.container {
    width: 400px;
    background: white;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #5c6bc0;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px;
}

h5 {
    font-size: 13px;
    color: #a1a4ad;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

button {
    width: 100%;
    border: 0;
    border-radius: 100px;
    height: 49px;
}

input[nz-input] {
    padding: 8px 0px;
}