<div class="layout-container">
  <nz-card class="card-container" [nzBordered]="false">
    <form 
      nz-form 
      [formGroup]="form" 
      [class.disabled]="isDataLoading" 
      (ngSubmit)="submit()">

      <div class="logo-container">
        <img 
          srcset="assets/logo.webp 2x, assets/logo.webp 3x" 
          width="150" 
          height="150" 
          alt="Logo"
        >
      </div>

      <h4>Change Password</h4>
      
      <h5>Please set a new password for your account</h5>

      <nz-form-item>
        <nz-form-control 
          [nzErrorTip]="errorTemplate"
          [nzHasFeedback]="hasFeedback('new_password')">
          <nz-input-group nzPrefixIcon="lock" nzSuffix>
            <input 
              type="password" 
              nz-input 
              formControlName="new_password" 
              placeholder="New Password" 
              autocomplete="off"
            />
          </nz-input-group> 
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control 
          [nzErrorTip]="errorTemplate"
          [nzHasFeedback]="hasFeedback('confirm_password')">
          <nz-input-group nzPrefixIcon="lock" nzSuffix>
            <input 
              [type]="passwordVisible ? 'text' : 'password'" 
              nz-input 
              formControlName="confirm_password" 
              placeholder="Confirm Password" 
              autocomplete="off"
            />
            <i 
              *ngIf="form.get('confirm_password')?.value"
              nz-icon 
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" 
              nzTheme="outline" 
              (click)="togglePasswordVisibility()"
              style="cursor: pointer;">
            </i>
          </nz-input-group> 
        </nz-form-control>
      </nz-form-item>

      <ng-template #errorTemplate let-control>
        <span *ngIf="control && getErrorMessage(control)">
          {{ getErrorMessage(control) }}
        </span>
      </ng-template>

      <button
        nz-button
        nzType="primary"
        class="change-form-button"
        [nzLoading]="isDataLoading"
        [disabled]="form.invalid || isDataLoading">
        Change Password
      </button>
    </form>
  </nz-card>
</div>