<div class="layout-container">
  <nz-card class="container" [nzBordered]="false" [nzBodyStyle]="{ padding: '24px' }">
    <form [formGroup]="form" [class.disabled]="isDataLoading" (ngSubmit)="submit()">
      <div class="logo-container">
        <img src="assets/logo.webp" alt="Logo" class="logo" />
      </div>

      <h4>Change Password</h4>
      
      <h5>Please set a new password for your account</h5>

      <nz-form-item>
        <nz-form-control 
          [nzErrorTip]="newPasswordErrorTpl">
          <nz-input-group 
            [nzPrefix]="prefixLockIcon" 
            [nzSuffix]="suffixPasswordIcon">
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="new_password"
              placeholder="New Password"
              autocomplete="off"
            />
          </nz-input-group>

          <ng-template #prefixLockIcon>
            <i 
              nz-icon 
              nzType="lock" 
              nzTheme="outline">
            </i>
          </ng-template>

          <ng-template #suffixPasswordIcon>
            <i
              *ngIf="form.get('new_password')?.value"
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              nzTheme="outline"
              (click)="togglePasswordVisibility()"
              style="cursor: pointer">
            </i>
          </ng-template>

          <ng-template #newPasswordErrorTpl>
            <span *ngIf="form.get('new_password')?.hasError('required')">
              New password is required
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control 
          [nzErrorTip]="confirmPasswordErrorTpl">
          <nz-input-group 
            [nzPrefix]="prefixLockIcon" 
            [nzSuffix]="suffixPasswordIcon">
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              autocomplete="off"
            />
          </nz-input-group>

          <ng-template #confirmPasswordErrorTpl>
            <span *ngIf="
              form.get('confirmPassword')?.hasError('mismatch') || 
              form.get('confirmPassword')?.touched">
              Passwords do not match
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            [nzLoading]="isDataLoading"
            [disabled]="
              !form.valid || 
              form.get('confirmPassword')?.hasError('mismatch') || 
              isDataLoading">
            Change Password
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
