<button nz-button nzType="primary" (click)="open()">
  <i nz-icon nzType="user"></i> Create User
</button>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto', padding: '24px' }"
  [nzMaskClosable]="false"
  [nzWidth]="450"
  [nzVisible]="visible"
  nzTitle="Create User"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form nzLayout="vertical" *nzDrawerContent>
    <div nz-row style="margin-bottom: 16px">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" style="width: 100%"
            >First Name</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              required
              [(ngModel)]="form.firstName"
              name="firstName"
              style="
                width: 100%;
                border-radius: 6px;
                font-size: 14px;
                padding: 8px;
              "
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" style="width: 100%"
            >Last Name</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              required
              [(ngModel)]="form.lastName"
              name="lastName"
              style="
                width: 100%;
                border-radius: 6px;
                font-size: 14px;
                padding: 8px;
              "
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" style="width: 100%"
            >Email</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="email"
              required
              [(ngModel)]="form.email"
              name="email"
              style="
                width: 100%;
                border-radius: 6px;
                font-size: 14px;
                padding: 8px;
              "
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" style="width: 100%"
            >Phone</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="tel"
              [(ngModel)]="form.phone"
              name="phone"
              style="
                width: 100%;
                border-radius: 6px;
                font-size: 14px;
                padding: 8px;
              "
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" style="width: 100%"
            >Username</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              required
              [(ngModel)]="form.username"
              name="username"
              style="
                width: 100%;
                border-radius: 6px;
                font-size: 14px;
                padding: 8px;
              "
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" style="width: 100%"
            >Password</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="password"
              required
              [(ngModel)]="form.password"
              name="password"
              style="
                width: 100%;
                border-radius: 6px;
                font-size: 14px;
                padding: 8px;
              "
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 100%"
          >User Type</nz-form-label
        >
        <nz-form-control>
          <nz-select
            (ngModelChange)="userTypeChange($event)"
            [(ngModel)]="form.type_user"
            name="userType"
            [nzOptions]="userTypeOptions"
            nzPlaceHolder="Select a user type"
            style="width: 100%; border-radius: 6px"
          ></nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- Doctor -->
    <div nz-col nzSpan="24" *ngIf="extraForm == 'Doctor'">
      <nz-form-item>
        <nz-form-label style="width: 100%">Speciality</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="form.speciality_id"
            name="speciality_id"
            nzPlaceHolder="Select speciality"
            style="width: 100%; border-radius: 6px"
          >
            <nz-option
              *ngFor="let o of specialities"
              [nzLabel]="o.description"
              [nzValue]="o.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24" *ngIf="extraForm == 'Doctor'">
      <nz-form-item>
        <nz-form-label style="width: 100%">Number license</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            name="number_license"
            [(ngModel)]="form.number_license"
            style="
              width: 100%;
              border-radius: 6px;
              font-size: 14px;
              padding: 8px;
            "
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div
      nz-col
      nzSpan="24"
      *ngIf="extraForm == 'Doctor' || extraForm == 'Seller'"
    >
      <nz-form-item>
        <nz-form-label style="width: 100%">Store</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="form.store_id"
            name="store_id"
            nzPlaceHolder="Select store"
            style="width: 100%; border-radius: 6px"
          >
            <nz-option
              *ngFor="let o of stores"
              [nzLabel]="o.name"
              [nzValue]="o.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24" *ngIf="extraForm == 'Doctor'">
      <nz-form-item>
        <nz-form-label style="width: 100%">Office</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="form.office_id"
            name="office_id"
            nzPlaceHolder="Select office"
            style="width: 100%; border-radius: 6px"
          >
            <nz-option
              *ngFor="let o of offices"
              [nzLabel]="o.name"
              [nzValue]="o.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Seller -->
  </form>

  <ng-template #footerTpl>
    <div
      style="
        text-align: right;
        padding-top: 16px;
        border-top: 1px solid #f0f0f0;
      "
    >
      <button
        nz-button
        style="margin-right: 8px; border-radius: 4px"
        (click)="close()"
      >
        Cancel
      </button>
      <button
        nz-button
        nzType="primary"
        style="border-radius: 4px"
        (click)="submit()"
      >
        Create User
      </button>
    </div>
  </ng-template>
</nz-drawer>
