<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Resource Management</nz-breadcrumb-item>
      <nz-breadcrumb-item>Localities</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawer()">
      <i 
        nz-icon 
        nzType="shop" 
        nzTheme="outline">
      </i>
      New Locality
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportLocalities()">
      <i 
        nz-icon 
        nzType="download" 
        nzTheme="outline">
      </i>
      Export Localities
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Name..."
        [(ngModel)]="nameSearch"
        (ngModelChange)="search($event, 'name')"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span 
        nz-icon 
        nzType="search"> 
      </span>
    </ng-template>
  </div>

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzLoading]="isDataLoading"
    [nzNoResult]="noDataTemplate"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.created | date }}</td>
        <td>
          <a>
            <nz-switch
              title="Status"
              [(ngModel)]="data.active"
              nzSize="small"
              (ngModelChange)="changeStatus(data.id, data)">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Edit"
              nzType="edit"
              nzTheme="outline"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              nz-icon
              title="Delete"
              nzType="delete"
              nzTheme="outline"
              (click)="delete(data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span>
          No localities found
        </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    (nzPageIndexChange)="pageChange($event)"
    nzShowQuickJumper>
  </nz-pagination>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="720"
  [nzFooter]="footerTpl">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="drawerLoader">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="name"
            style="text-align: center">
            Name
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="nameError">
            <input 
              nz-input 
              formControlName="name" 
              id="name" 
            />
          </nz-form-control>
        </nz-form-item>

        <ng-template #nameError>
          <span *ngIf="form.get('name')?.hasError('required')">
            This field is required
          </span>
          <span *ngIf="form.get('name')?.hasError('pattern')">
            This field cannot be empty or contain only spaces
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; float: right">
      <button
        nz-button
        style="display: flex; margin-right: 8px"
        (click)="closeDrawer()">
        Close
      </button>
      
      <button 
        nz-button 
        nzType="primary" 
        (click)="submit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>
