@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

:root {
  --color-container-bg: white;
  --color-text-primary: #dfdeee;
  --color-text-secondary: #a1a4ad;
  --color-border: #464d64;
  --color-input-bg: #262e49;
  --color-input-focus: #1d243d;
  --color-btn: #5d33e6;
  --color-btn-hover: #4122a7;
  --color-checkbox-checked: #896cec;
  --color-error-bg: #ff3333;
}
.layout-container {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../../../assets/body.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  height: 500px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--color-container-bg);
  border-radius: 9px;
  overflow: hidden;
}

.box h4 {
  color: #5c6bc0;
  font-size: 18px;
  margin-top: 75px;
  text-align: center;
}

.box h5 {
  font-size: 13px;
  color: var(--color-text-secondary);
  letter-spacing: 1.5px;
  margin-top: -10px;
  margin-bottom: 70px;
  text-align: center;
}

.box input {
  width: 100%;
  padding: 14px 10px 14px 35px;
  border-radius: 7px;
  outline: none;
  border: 1px solid;
  color: #565f79;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
}

::placeholder {
  color: #565f79;
}

a {
  color: #5c7fda;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.link-container {
  margin: 10px 0;
  padding-right: 30px;
  text-align: right;
}

.input-container {
  position: relative;
  width: calc(100% - 52px);
  margin: 0 auto 20px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 18px;
}

form.disabled {
  opacity: 10;
  pointer-events: none;
}
