.title-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.user-management-container {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 20px;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 15px;
}

nz-input-group {
  margin-right: 10px;
  height: 33px;
}

.boton-margen {
  margin-right: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.create-user-button {
  margin-right: 20px;
}

.search-input {
  flex: 1;
  max-width: 300px;
}

.action-button {
  margin-right: 10px;
}

.green-link-button {
  color: green !important;
}

.button-separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #d9d9d9;
  margin: 0 8px;
  vertical-align: middle;
}

.custom-pagination ::ng-deep .ant-pagination {
  justify-content: flex-start !important;
}