<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Control Access</nz-breadcrumb-item>
      <nz-breadcrumb-item>User management</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div>
    <nz-demo-drawer-from-drawer
      class="boton-margen"
      (userCreated)="addUserToList($event)"
    ></nz-demo-drawer-from-drawer>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      [nzLoading]="loading"
      (click)="exportUsersToXLS()"
    >
    <i nz-icon nzType="download" nzTheme="outline"></i>
    Export Users
  </button>
  
  </div>
</div>

<div class="main-table layout-container">
  <div class="header-actions">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        nz-input
        placeholder="Username"
        [(ngModel)]="searchQuery.username"
        (ngModelChange)="onSearch('username')"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        nz-input
        placeholder="Full Name"
        [(ngModel)]="searchQuery.fullName"
        (ngModelChange)="onSearch('fullName')"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <nz-table
    #userTable
    [nzBordered]="false"
    [nzLoading]="loading"
    [nzData]="data"
    [nzShowPagination]="true"
    [nzPageSize]="10"
    class="custom-pagination"
    [nzSize]="'default'"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
  >
    <thead>
      <tr>
        <th>Rol</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userTable.data">
        <td>
          {{
            user.extra_data && user.extra_data[0].user_type_id
              ? mapUserRole(user.extra_data[0].user_type_id)
              : ""
          }}
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.created | date }}</td>
        <td>
          <nz-switch
            [(ngModel)]="user.is_active"
            (ngModelChange)="toggleUserStatus(user)"
            [nzSize]="'small'"
          ></nz-switch>
          <nz-demo-modal-locale
            [user]="user"
            (userUpdated)="updateUser($event)"
          ></nz-demo-modal-locale>
          <button
            nz-button
            nzType="link"
            [nzSize]="'small'"
            (click)="deleteUser(user)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
