.user-management-container {
    background-color: #f5f5f5;
    min-height: 100vh;
    padding: 20px;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.boton-margen {
    margin-right: 8px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.create-user-button {
    margin-right: 20px;
}

.search-input {
    flex: 1;
    max-width: 300px;
}

.user-table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-table th {
    font-weight: bold;
    text-align: center;
}

.user-table td {
    text-align: center;
}

.action-button {
    margin-right: 10px;
}

.green-link-button {
    color: green !important;
}

.button-separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #d9d9d9;
    margin: 0 8px;
    vertical-align: middle;
}