<div class="title-page layout-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Mar Chiquita</nz-breadcrumb-item>
      <nz-breadcrumb-item>Control Access</nz-breadcrumb-item>
      <nz-breadcrumb-item>User management</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <div class="btn-container">
    <button 
      nz-button 
      nzType="primary" 
      (click)="openDrawer()">
      <i 
        nz-icon 
        nzType="user"> 
      </i>
      Create User
    </button>

    <button
      nz-button
      [style.background-color]="'#00a651'"
      [style.color]="'white'"
      (click)="exportUsers()">
      <i
        nz-icon
        [nzType]="exportLoader ? 'loading' : 'download'"
        nzTheme="outline">
      </i>
      {{ exportLoader ? "Exporting..." : "Export Users" }}
    </button>
  </div>
</div>

<div class="main-table layout-container">
  <div class="table-filters">
    <nz-input-group
      *ngFor="let field of searchFields"
      [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="field.placeholder"
        [(ngModel)]="this[field.model]"
        (ngModelChange)="search($event, field.key)"
      />

      <ng-template #suffixIconSearch>
        <span 
          nz-icon 
          nzType="search"> 
        </span>
      </ng-template>
    </nz-input-group>
  </div>

  <nz-table
    #basicTable
    [nzData]="dataToDisplay"
    [nzFrontPagination]="false"
    [nzNoResult]="noDataTemplate"
    [nzLoading]="isDataLoading">
    <thead>
      <tr>
        <th>Rol</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ mapRole(data.user_type) }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.created | date }}</td>
        <td>
          <a>
            <nz-switch
              [(ngModel)]="data.is_active"
              (ngModelChange)="changeStatus(data.username, data.id, data.is_active)"
              [nzSize]="'small'">
            </nz-switch>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              title="Edit"
              nz-icon
              nzType="edit"
              nzTheme="outline"
              (click)="openEditDrawer(data)">
            </span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <span
              title="Delete"
              nz-icon
              nzType="delete"
              nzTheme="outline"
              (click)="delete(data.username, data.id)">
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #noDataTemplate>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <span> No records found </span>
      </ng-template>
    </nz-empty>
  </ng-template>

  <nz-pagination
    [nzPageIndex]="page"
    [nzResponsive]="true"
    [nzTotal]="count_records"
    [nzPageSize]="page_size"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    [nzShowSizeChanger]="true"
    nzShowQuickJumper>
  </nz-pagination>
</div>

<nz-drawer
  [nzMaskClosable]="false"
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzWidth]="720"
  [nzFooter]="footerTpl">
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="drawerLoader">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="first_name"
            style="text-align: center">
            First name
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="first_name" 
              name="first_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="last_name"
            style="text-align: center">
            Last name
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="last_name" 
              name="last_name" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="email"
            style="text-align: center">
            Email
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="email" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="phone"
            style="text-align: center">
            Phone
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              type="tel" 
              formControlName="phone" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!isUpdating">
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="username"
            style="text-align: center">
            Username
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <input 
              nz-input 
              formControlName="username" 
              name="username" 
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!isUpdating">
          <nz-form-label
            [nzSm]="8"
            [nzXs]="24"
            nzFor="type_user"
            style="text-align: center">
            User type
          </nz-form-label>

          <nz-form-control 
            [nzSm]="16" 
            [nzXs]="24" 
            [nzErrorTip]="errorTemplate">
            <nz-select
              formControlName="type_user"
              name="type_user"
              [nzOptions]="userTypeOptions"
              nzPlaceHolder="Select Type"
              nzShowSearch
              nzAllowClear
              (ngModelChange)="userTypeChange($event)">
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="number_license"
              style="text-align: center">
              Number license
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <input
                nz-input
                name="number_license"
                formControlName="number_license"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="npi"
              style="text-align: center">
              Npi
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <input 
                nz-input 
                name="npi" 
                formControlName="npi" 
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="federal_tax_id"
              style="text-align: center">
              Federal tax id
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <input 
                nz-input 
                name="federal_tax_id" 
                formControlName="federal_tax_id" 
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="localities"
              style="text-align: center">
              Localities
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <nz-select
                formControlName="localities"
                name="localities"
                nzPlaceHolder="Select Locality"
                nzShowSearch
                nzAllowClear
                nzMode="multiple">
                <nz-option
                  *ngFor="let o of localities"
                  [nzLabel]="o.name"
                  [nzValue]="o.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="insurers"
              style="text-align: center">
              Insurers
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <nz-select
                formControlName="insurers"
                name="insurers"
                nzPlaceHolder="Select Insurer"
                nzShowSearch
                nzAllowClear
                nzMode="multiple">
                <nz-option
                  *ngFor="let o of insurers"
                  [nzLabel]="o.payer_id + ' - ' + o.name"
                  [nzValue]="o.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="address"
              style="text-align: center">
              Address
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <input 
                nz-input 
                name="address" 
                formControlName="address" 
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="city"
              style="text-align: center">
              City
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <input 
                nz-input 
                name="city" 
                formControlName="city" 
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="state"
              style="text-align: center">
              State
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <input 
                nz-input 
                name="state" 
                formControlName="state" 
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating ? 
            (dataDrawerCahe?.extra_data && user_type?.code_type === 2) : 
            (extraForm?.code_type === 2)">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="postal_code"
              style="text-align: center">
              Postal code
            </nz-form-label>

            <nz-form-control 
              [nzSm]="16" 
              [nzXs]="24">
              <input
                nz-input
                name="postal_code"
                formControlName="postal_code"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzSpan="24"
          *ngIf="isUpdating? 
            dataDrawerCahe?.extra_data &&
            user_type?.code_type === 3 &&
            userAttr.rol != 2: 
            extraForm?.code_type === 3 && userAttr.rol != 2">
          <nz-form-item>
            <nz-form-label
              [nzSm]="8"
              [nzXs]="24"
              nzFor="supplier"
              style="text-align: center">
              Provider
            </nz-form-label>

            <nz-form-control
              [nzSm]="16"
              [nzXs]="24"
              [nzErrorTip]="errorTemplate">
              <nz-select
                formControlName="supplier"
                name="supplier"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select Provider">
                <nz-option
                  *ngFor="let o of suppliers"
                  [nzLabel]="o.user.first_name + ' ' + o.user.last_name"
                  [nzValue]="o.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <ng-template #errorTemplate let-control>
          <span *ngIf="control && getErrorMessage(control)">
            {{ getErrorMessage(control) }}
          </span>
        </ng-template>
      </form>
    </nz-spin>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; float: right">
      <button 
        nz-button 
        style="margin-right: 8px" 
        (click)="closeDrawer()">
        Close
      </button>

      <button 
        nz-button 
        nzType="primary" 
        (click)="submit()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>
