<div class="layout-container">
  <nz-layout class="app-layout">
    <nz-header>
      <div class="logo"></div>
      <ul
        nz-menu
        nzTheme="dark"
        nzMode="horizontal"
        class="header-menu"
        style="text-align: right">

        <span class="session"> 
          Login: {{ username }} 
        </span>
        
        <span class="session"> 
          Profile: {{ role }} 
        </span>

        <span class="session">
          {{ currentDate | date : "MMM d, y HH:mm:ss" }}
        </span>

        <nz-avatar
          style="cursor: pointer"
          class="user-avatar"
          nzIcon="user"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu">
        </nz-avatar>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item nzDanger (click)="logout()">
              <i nz-icon nzType="logout" nzTheme="outline"> </i>
              Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzCollapsible nzWidth="260px">
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li
            nz-submenu
            nzTitle="Resource Management"
            nzIcon="check-circle"
            *ngIf="access.doctors || access.localities || access.admin">
            <ul>
              <li nz-menu-item *ngIf="access.doctors">
                <a routerLink="/config/doctors">Doctors</a>
              </li>
              <li nz-menu-item *ngIf="access.localities">
                <a routerLink="/config/localities">Localities</a>
              </li>
              <li nz-menu-item *ngIf="access.admin">
                <a routerLink="/config/services">Services</a>
              </li>
              <li nz-menu-item *ngIf="access.admin">
                <a routerLink="/config/products">Products</a>
              </li>
            </ul>
          </li>
          <li
            *ngIf="access.users"
            nz-submenu
            nzTitle="Control Access"
            nzIcon="lock">
            <ul>
              <li nz-menu-item>
                <a routerLink="/users/user_management">User Management</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/users/profiles">Profiles</a>
              </li>
            </ul>
          </li>
          <li
            *ngIf="access.insurers || access.plans"
            nz-submenu
            nzTitle="Configure Insurers / Coverages"
            nzIcon="profile">
            <ul>
              <li *ngIf="access.insurers" nz-menu-item>
                <a routerLink="/insurers">Insurers</a>
              </li>
              <li *ngIf="access.plans" nz-menu-item>
                <a routerLink="/insurers/coverages">Coverages</a>
              </li>
            </ul>
          </li>
          <li
            nz-submenu
            nzTitle="Eligibility"
            nzIcon="solution"
            *ngIf="access.eligibility">
            <ul>
              <li nz-menu-item>
                <a routerLink="/eligibility">Validate rights</a>
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>

      <nz-layout class="inner-layout">
        <nz-content>
          <nz-breadcrumb></nz-breadcrumb>
          <br />
          <router-outlet></router-outlet>
        </nz-content>

        <nz-footer class="footer">
          <div class="footer-content">
            <div class="company-info">
              <p>© 2016 SIS Colombia - All rights reserved MEDICAR</p>
            </div>
          </div>
        </nz-footer>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</div>
