@import '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}