@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.layout-container {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../../../assets/body.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  animation: fadeInBackground 1.3s ease-in-out;
}

.container {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  height: 500px;
  text-align: center;
  transform: translateX(-50%);
  background-color: var(--color-container-bg);
  border-radius: 9px;
  overflow: hidden;
}

.box {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100% - 40px);
}

.box h4 {
  color: #5c6bc0;
  font-size: 18px;
  margin-top: 60px;
}

.box h5 {
  font-size: 13px;
  color: var(--color-text-secondary);
  letter-spacing: 1.5px;
  margin-top: -10px;
  margin-bottom: 15px;
  text-align: center;
}

.input-container {
  position: relative;
  width: 97%;
  margin: 1px auto;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 18px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  width: 100%;
  padding: 14px 10px 14px 35px;
  margin: 5px 0;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
  color: #565f79;
  transition: border 0.2s ease-out;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.return-login,
.resend-code {
  padding: 0 10px;
  text-decoration: none;
}

.return-login {
  margin-left: auto;
}

.resend-code {
  margin-right: auto;
}

a {
  color: #5c7fda;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

::placeholder {
  color: #565f79;
}