.layout-container {
  font-family: 'Source Sans Pro', sans-serif;
  background: url('assets/body.webp') no-repeat center/cover;
  background-position: inherit;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 400px;
  background: white;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

h4 {
  color: #5c6bc0;
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

h5 {
  font-size: 13px;
  color: #a1a4ad;
  text-align: center;
  margin-bottom: 10px;
}

input[nz-input] {
  padding: 8px 0px;
}

.logo-container {
  text-align: center;
}

.reset-form-margin {
  margin-bottom: 16px;
}

.reset-form-a {
  color: #5c6bc0;
}

.reset-form-a:hover {
  text-decoration: underline;
}

.reset-form-button {
  width: 100%;
  border: 0;
  border-radius: 100px;
  height: 49px;
}