<div class="layout-container">
  <div class="container">
    <app-notification
      *ngIf="message"
      [type]="messageType"
      [message]="message"
      (close)="closeMessage()"
    ></app-notification>

    <form name="form_reset" class="box">
      <h4>Reset Password</h4>
      <h5>Enter your email to reset your password</h5>

      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input
          type="text"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
          autocomplete="off"
          [readonly]="emailReadOnly"
        />
      </div>

      <div *ngIf="showVerificationCode" class="input-container">
        <i class="fa fa-key icon"></i>
        <input
          type="text"
          name="verificationCode"
          placeholder="Verification Code"
          [(ngModel)]="verificationCode"
          autocomplete="off"
        />
      </div>

      <div *ngIf="showPasswordInput" class="input-container">
        <i class="fa fa-lock icon"></i>
        <input
          [type]="passwordToggle.passwordFieldType"
          name="newPassword"
          placeholder="New Password"
          [(ngModel)]="newPassword"
          autocomplete="off"
        />
        <app-password-toggle
          [showEyeIcon]="!!newPassword"
          #passwordToggle
        ></app-password-toggle>
      </div>

      <div class="links-container">
        <a *ngIf="showResendLink" (click)="onResendCode()" class="resend-code">
          Resend Verification Code
        </a>
        <a routerLink="/login" class="return-login">Return to login</a>
      </div>

      <app-button
        [label]="showPasswordInput ? 'Confirm Password Reset' : 'Request Password Reset'"
        [btnActive]="true"
        [isLoading]="isLoading"
        (buttonClick)="showPasswordInput ? onConfirmResetPassword() : onRequestReset()"
        [disabled]="isLoading"
      ></app-button>
    </form>
  </div>
</div>
