<div class="layout-container">
  <nz-card class="container" [nzBordered]="false" [nzBodyStyle]="{ padding: '24px' }">
    <form [formGroup]="resetForm" class="box" [class.disabled]="isDataLoading">
      <div class="logo-container">
        <img 
          src="assets/logo.webp" 
          alt="Logo" 
          class="logo" 
        />
      </div>

      <h4>Reset Password</h4>

      <h5>Enter your email to reset your password</h5>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <nz-input-group [nzPrefix]="prefixEmailIcon">
            <input
              nz-input
              type="text"
              formControlName="email"
              placeholder="Email"
              autocomplete="off"
              [readonly]="resetStep === 'confirm'"
            />
          </nz-input-group>

          <ng-template #prefixEmailIcon>
            <i 
              nz-icon 
              nzType="mail" 
              nzTheme="outline">
            </i>
          </ng-template>
          
          <ng-template #emailErrorTpl>
            <span *ngIf="resetForm.get('email')?.hasError('required')">
              This field is required
            </span>
            <span *ngIf="resetForm.get('email')?.hasError('email')">
              Please enter a valid email address
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="resetStep === 'confirm'">
        <nz-form-control [nzErrorTip]="codeErrorTpl">
          <nz-input-group [nzPrefix]="prefixCodeIcon">
            <input
              nz-input
              type="text"
              formControlName="confirmation_code"
              placeholder="Verification Code"
              autocomplete="off"
            />
          </nz-input-group>

          <ng-template #prefixCodeIcon>
            <i 
              nz-icon 
              nzType="key" 
              nzTheme="outline">
            </i>
          </ng-template>

          <ng-template #codeErrorTpl>
            <span *ngIf="resetForm.get('confirmation_code')?.hasError('required')">
              This field is required
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="resetStep === 'confirm'">
        <nz-form-control [nzErrorTip]="passErrorTpl">
          <nz-input-group [nzPrefix]="prefixLockIcon" [nzSuffix]="suffixPasswordIcon">
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="new_password"
              placeholder="New Password"
              autocomplete="off"
            />
          </nz-input-group>

          <ng-template #prefixLockIcon>
            <i 
              nz-icon 
              nzType="lock" 
              nzTheme="outline">
            </i>
          </ng-template>

          <ng-template #suffixPasswordIcon>
            <i *ngIf="resetForm.get('new_password')?.value"
               nz-icon
               [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
               nzTheme="outline"
               (click)="togglePasswordVisibility()"
               style="cursor: pointer">
            </i>
          </ng-template>

          <ng-template #passErrorTpl>
            <span *ngIf="resetForm.get('new_password')?.hasError('required')">
              This field is required
            </span>
            <span *ngIf="resetForm.get('new_password')?.hasError('pattern')">
              Must be at least 8 chars, include uppercase, lowercase, and a symbol
            </span>
          </ng-template>          
        </nz-form-control>
      </nz-form-item>

      <div class="text-right" [ngClass]="{'space-between': resetStep === 'confirm'}">
        <a 
          *ngIf="resetStep === 'confirm'" 
          (click)="resendCode()" 
          class="resend-code">
          Resend Verification Code
        </a>

        <a 
          routerLink="./login" 
          class="link">
          Return to login
        </a>
      </div>

      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            [nzLoading]="isDataLoading"
            [disabled]="resetForm.invalid || isDataLoading"
            (click)="resetStep === 'confirm' ? confirmResetPassword() : requestReset()">
            {{ resetStep === 'confirm' ? 'Confirm Password Reset' : 'Request Password Reset' }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
